[2016-01-06 17:18] Wouter0100 opened #2 "Unable to compile extension"
I'm unable to compile because of too less arguments, see [this gist](https://gist.github.com/Wouter0100/292ce553988cc8b0f4d2).

It seems the last arg of zend_register_internal_class_ex has a default value set (is that a default value?) but isn't recognized.

Is this a known issue?

[2016-01-24 22:25] vojta opened #3 "GearmanJob::setCompleteCallback() not working"
Hi,

I've just reproduced a problem with setCompleteCallback() on GearmanJob. The callback set by this method is not called on job completion, but setFailCallback is used instead. This is not an issue when using PHP 5.5 gearman extension, it works fine.

gearman_worker.php:
[code]

gearman_client.php:
[code]

To reproduce, just start the worker:
[code]
and run the client:
[code]

It runs OK on PHP

[2016-01-25 12:06] wcgallego commented on #3
Thanks for the thorough bug report, @vojta! Will take a look

[2016-01-25 12:57] wcgallego commented on #2
Hey @Wouter0100, this isn't known. It's been compiling for me ok.

Can you give me some info about your environment? compilers, operating system, etc.

Edit: Whoops, that's what I get for looking at an old version of my code in the wrong dir :) Editing out some confusing notes I had before. Env/OS would help though, thanks!

[2016-01-26 09:16] Wouter0100 commented on #2
Hmm, it's on Ubuntu 15.04 with DirectAdmin installed ([PHP 5.6](http://php5.wouter0100.nl/) and [PHP 7.0](http://php7.wouter0100.nl/)). I'm compiling it against PHP 7.0 (of course). I've tried again, but still no luck.

[2016-01-30 20:38] wcgallego commented on #3
hey @vojta, I've made a change I think fixes the problem. Reopen if not.

I don't have many example of task work (and the unit tests for this are pretty poor, trying to fix that too!) so if this still isn't quite right or you see any others, please let me know. Thanks again for the help here!

[2016-01-30 20:41] wcgallego commented on #2
did you phpize this first as PHP 7 or PHP 5?

via http://lxr.php.net/xref/PHP_7_0/Zend/zend_API.h#637, RETURN_STRING only takes one argument in PHP 7, but in lower version (like here in 5.6 http://lxr.php.net/s?refs=RETURN_STRING&project=PHP_5_6) it takes 2. My guess is you're compiling this against a PHP 5.x installation

[2016-02-01 10:05] uuf6429 opened #4 "Squash changes"
Hey, I was wondering what's the difference from the original repository at [hjr3/pecl-gearman](https://github.com/hjr3/pecl-gearman) and I as far as I can [see here](https://github.com/mariano/pecl-gearman/compare/master...wcgallego:master), the main difference is mostly in php tests.
However, there's a lot of commits dealing with different parts of code that resulted in zero net effect.

My sugge

[2016-02-02 16:54] vojta commented on #3
Thank you! The testcase works, so you definitely fixed this one. But I'm still getting segfaults in real production code :( It's weird. I'll try to isolate this problem.

Will, please, how are your gearman calls that you are using in production? If we use the same as you do, we might run in less bugs like this :)

[2016-02-02 16:56] wcgallego commented on #3
Ok, I'll reopen. Sorry Dude :(

We're using Gearman jobs instead of tasks, so it's hitting different parts of the extension. Maybe it's trying to do several tasks in a row? Or the same task multiple times? I'll try to squeeze in some time to look at those, but if you could do the same (or try to narrow down) that'd be great!

[2016-02-04 16:30] vojta opened #5 "GearmanJob::setExceptionCallback() not working"
This is similar to https://github.com/wcgallego/pecl-gearman/issues/3

How to reproduce:

gearman_worker.php:
[code]

gearman_client.php:
[code]

To reproduce, just start the worker:
[code]

and run the client:
[code]

It runs OK on PHP 5.5 (calls the exceptionCallback):
[code]

[2016-02-04 16:32] vojta commented on #3
I think this issue is resolved well, I just created another issue that touches different callback. Closing.

[2016-02-04 16:32] #3 closed

[2016-02-04 16:39] wcgallego commented on #4
Hey @uuf6429, agreed. There's a lot of clean up to do.

The major difference was I was handling the porting over to PHP 7. hjr was kind enough to merge those changes back in.

Personally, I'm a fan of showing the warts. This was a learning experience for me and showing how I made bad calls and fixed them is important. We haven't cut a full tag yet, so that's how I would judge major differences, if

[2016-02-04 16:39] #4 closed

[2016-02-04 16:39] wcgallego commented on #2
I think this is resolved - I'm like 99.9% sure it's compilation against the wrong version of PHP.

Feel free to open if this persists and I can help out!

[2016-02-04 16:39] #2 closed

[2016-02-04 16:40] wcgallego commented on #5
both awesome that we have another clear reproduction and a bummer it's still happening.

Thanks for helping out on this @vojta ! I'll take a look soon.

[2016-02-04 17:37] vojta opened #6 "SIGBUS when using addTaskHighBackground()"
I'm using something like

[code]

It works, the worker gets the request without any problem. But then it crashes the php-fpm process. When I try it in CLI, I get SIGBUS. This is the output I got using gdb:

[code]

Currently, I can't reproduce the problem without using our whole codebase. That means, when I call these GearmanClient methods in a small simple script, it works without a problem. All

[2016-02-06 20:18] wcgallego commented on #5
hey @vojta, just pushed a fix I think takes care of this. Wasn't handling allocation of storing callbacks in zvals correctly, along with some other minor clean up. Give it a shot and lemme know if it works? This might clear up #6 as well (haven't had a change to set that up in a context to test, but fingers crossed).

If something's amiss, reopen this. Will leave #6 open while you test

[2016-02-08 14:20] vojta commented on #6
I tried the current version, compiled today, but I got a segfault:

[code]

[2016-02-08 14:56] vojta commented on #5
It calls the exceptionCallback, but after a few dozen successful requests, I get a segfault:

Program received signal SIGSEGV, Segmentation fault.
0x00000000005e22e1 in _zval_dtor_func ()

[2016-02-08 16:43] wcgallego commented on #5
Ah sounds like poorly allocated memory location. I'll hit it a bunch of times and see if I can replicate it. Isolating it to a zval_dtor helps though, thanks!

[2016-02-08 17:21] vojta opened #7 "Excessive memory usage on PHP7"
I get "Allowed memory size of 134217728 bytes exhausted (tried to allocate 3472891254821631824 bytes) "
This doesn't seem OK to me :)

How to reproduce:

gearman_worker.php:
[code]

gearman_client.php:
[code]

To reproduce, just start the workers in parallel:
[code]

and run the client:
[code]

In doesn't matter if the workers are running on PHP5 or PHP7, the client is the problem.

[2016-02-08 17:21] vojta commented on #5
I added https://github.com/wcgallego/pecl-gearman/issues/7, might be connected to this one.

[2016-02-21 13:00] wcgallego commented on #5
hey @vojta, thanks again for your patience here!

I left notes in the commit, but here's the scoop - with this test function, it looks like it's going to call setCompleteCallback (among other callbacks) over and over again unnecessarily. I wasn't taking that into account! So it was just doing a copy over the previous callback without properly deallocating and cleaning up. Hence, memory leaks! This

[2016-02-21 13:00] #5 closed

[2016-02-22 12:56] vojta commented on #7
I'm sorry, but this is still repeatable with the latest version :(

[2016-02-22 13:01] vojta commented on #5
hey @wcgallego , I never call setCompleteCallback() multiple times. There must be some another unfixed problem. I leave this issue ( #5 ) closed but the #7 is still repeatable using the latest version.

[2016-02-22 13:07] wcgallego commented on #7
Hey @vojta,

Made another fix which should clean up the GearmanClient object upon destruction. Give that one a shot too? I'll hold off on closing

[2016-02-22 13:09] vojta commented on #7
@wcgallego GearmanClient is NEVER destructed in the testcase above.

[2016-02-22 13:12] wcgallego commented on #7
No, but it's destructed upon leaving scope (like when the script ends).

Are you getting excessive memory leaks with this as well? I'm not seeing any memory leaks in valgrind running the above

[2016-02-22 13:17] wcgallego commented on #7
Update: ok! I got it reproduced now. Sorry for back and forth. Digging in!

[2016-02-22 13:19] vojta commented on #7
When I execute the gearman_client.php, it always reports "Allowed memory size... exhausted".

Are you able to reproduce the same on your system?

[code]

I'm sending strings of about 9.7KB to gearmand and back, but the script consumes more that 1GB and it's not enough. This seems bad to me. But we may have slightly different installs...

[2016-02-22 13:21] vojta commented on #7
BTW, I'm using gearmand 1.1.8-2.el6 (Centos 6, 2.6.32-504.30.3.el6.x86_64).

[2016-02-22 13:21] wcgallego commented on #7
I did replicate! Sorry for confusion. My guess is I'm doing a poor job of cleaning up a string and it's sending back garbage. So PHP is trying to allocate this huge string without bounds and bailing.

[2016-02-22 16:25] wcgallego commented on #7
Hey @vojta,

I got a helping hand from a friend who clean up a good portion of the task code to eliminate some complicated stuff lingering. It's a little easier to sort out now and reduces memory leaks. Should be pushed to trunk now.

There's still one very small leak (96 bytes!) I need to squash, but that should be much easier to figure out and doesn't grow with the number of times things like ru

[2016-02-23 11:37] vojta commented on #7
Indeed, this memory leak is fixed! But, sadly, I get segfaults in other usecases that used to work before :(
I think this extension needs much better automatic test suite, I should add tests instead of reporting these issues separately.

[2016-02-28 21:07] wcgallego commented on #6
Sorry @vojta, still trying to reproduce this and failing. I know there's been a lot of back and forth (thanks again!) between tickets, so not sure if it's cleaned up since. Apologies if you're still waiting on this.

if it's failing on zend_mm_alloc_small, that means it was probably trying to allocate something excessively large. I've pushed a small change that handles memory leaks when destroy Ge

[2016-03-03 15:54] karborator opened #8 "config.m4."
phpize
Cannot find config.m4.
Make sure that you run '/usr/bin/phpize' in the top level source directory of the module

Ubuntu 14.04

[2016-03-07 09:32] brstgt opened #9 "Segfault when creating multiple GearmanClient instances"
I was able to create a segfault, when I use a new GearmanClient object for every new job.
The case was reliably reproducible. Unfortunately the project is very complex, so I cannot paste just a few lines of code to produce the issue. The segfault happened about the 4th/5th time i did a "doBackground".
After having refactored our message queue to use a single GearmanClient instance all over a singl

[2016-03-07 09:39] brstgt opened #10 "addTask + unique id"
When I do NOT pass the "unique id" parameter to "addTask", when executing multiple tasks in parallel, only a single task is exexuted. It seems that a non-null value is implied, when omitting the unique id param.
I can reliably reproduce this behaviour with our system tests.
Actually I can only observe this behaviour in an FPM environment. Everything seems to work on CLI.
I was able to reproduce it

[2016-03-08 17:28] rosmo commented on #7
Probably related to the same issue since this referenced both in #5 and #7:

[code]

The segfault seems to happen only if we do setCompleteCallback() before adding the tasks, not if we do it afterwards (but if it's set afterwards, it's not triggered).

[2016-03-10 17:50] acasademont commented on #7
@rosmo i think we're hitting also this new segfaults, master at 9c16acda33f16e3d9ee1dce33431cd0c92566300 didn't have them.

I'm sorry @wcgallego to not being able to provide more meaningfult reports, my experience withe core dumps and gdb is close to 0

[2016-03-12 11:14] wcgallego commented on #8
config.m4 is in the root dir of the package. I'm not sure why it would fail to find it.

https://github.com/wcgallego/pecl-gearman/blob/master/config.m4

Are you running this in the correct directory?

[2016-03-12 11:45] wcgallego commented on #7
@rosmo, @acasademont can you paste how you're declaring the setCompleteCallback? Are you able to reproduce with just the following?
- declaration of the GearmanClient object
- adding a server with said object
- adding setCompleteCallback
- calling doBackground

Are you passing anything in particular to those functions? What other gearman specific functions are you relying on here?

if it's hitting

[2016-03-12 11:47] wcgallego commented on #6
following up @vojta, were you ever able to get a core dump to share?

[2016-03-12 12:13] wcgallego commented on #9
hey @brstgt, this does, thanks. Glad you're at least in a workable state until this gets fixed.

My guess is a lot of these issues are all related. If you are ever able to reproduce in a standalone, please send my way!

Should I push some fixes, would your code base be set in such a way to test with reusing GearmanClient again? I'm happy to keep the issue open until there's a resolution, but if yo

[2016-03-12 13:34] rosmo commented on #7
Hey @wcgallego, can we have a quick discussion on some more realtime media (irc/skype/whatever)? It might be more productive :)

[2016-03-12 14:36] wcgallego commented on #7
Sounds like a solid idea! If you have an irc channel in mind, I can hop in now. Am around for the next 2 hours. Usually will_gallego on most servers

Otherwise, online during work week 14:00-22:00 UTC

[2016-03-12 15:27] wcgallego commented on #7
FYI - I hopped into #gearman on Freenode. That might be a decent place to look for me!

Can't promise I'll be around at all times, but ping me there anyways

[2016-03-12 15:45] wcgallego commented on #10
Just to confirm - this ran correctly in PHP 5, @brstgt, but fails to in PHP 7?

Not sure why that might be immediately. The code for executing based on unique id should be the same. Do you have any ini or env settings in your Apache context that might not be equivalent in the cli?

I can certainly set up an apache instance on my test environment and replicate if you have code demonstrating it! Thi

[2016-03-14 12:33] brstgt commented on #10
Hi,

I recognized this when running our system tests with a php7 test machine.
The tests that run within phpunit hat no problem but the system tests that
test our API via HTTP produced that problem.
The tested model does simply create multiple sized versions of a photo by
running multiple gearman tasks in parallel.
I would love to share a code snippet but I cannot share our whole
repository and th

[2016-03-14 12:34] brstgt commented on #9
If you push new commits, just let me know, so we of course can run some
tests with the "old" environment.

2016-03-12 13:13 GMT+01:00 Will notifications@github.com:

[2016-03-16 09:39] brstgt opened #12 "Segfault with closure in setCompleteCallback"
Unfortunately it is very very hard to reproduce but I have a case when it consistently crashes. I am not able to post that complete case but I can provide some snippets. Moving the captured local referenced variable to a class property helped.

Use case: A bunch of images is resized in several gearman jobs that run in parallel. PHP client waits for return.

This example works:
http://pastebin.com/

[2016-03-16 15:03] vladnis opened #13 "Segfault when running http://gearman.org/examples/multi-query/"
Hi,

I got the following error when running the example form http://gearman.org/examples/multi-query/, with PHP7, and gearman plugin built from master :

Program received signal SIGSEGV, Segmentation fault.
0x00005555557a9de0 in _zval_dtor_func ()
(gdb) bt
#0  0x00005555557a9de0 in _zval_dtor_func ()
#1  0x00007fffed2f4f9a in _zval_dtor (zvalue=<optimized out>)
    at /usr/include/php/20151012/Zen

[2016-03-16 17:40] brstgt commented on #12
I am sorry for these kind of confusing tickets but the situation is also confusing for me.
Now I had a different use case where the above "fix" did not work and the request segfaults again. It still segfaults somewhere in the request finishing process. The gearman work is done but the request does not finish.

I now have a workaround that seems to "fix" both cases. When I do not reuse the gearman

[2016-03-16 17:41] brstgt commented on #13
+1 thanks for the reproducible use case :)

[2016-03-17 08:42] brstgt commented on #13
I am not a php-extension expert but I was able to track down the segfault to the following line

static void gearman_task_obj_free(zend_object *object) {
    gearman_task_obj *intern = gearman_task_fetch_object(object);
    if (!intern) {
        return;
    }

[code]

//  zval_dtor(intern->zclient);

[code]

}

Commenting out "zval_dtor(intern->zclient);" made the segfault gone. I don't have a de

[2016-03-17 08:52] vladnis commented on #13
Yes, probably that is the problem. Added a pull request for fix.

[2016-03-17 09:04] brstgt commented on #13
I am not sure if the zClient should be destructed at this point at all. The task owns its workload and data but it does not own the client. The client owns the task. I'm not a php-ext expert but this is what my general programming experience says :)

[2016-03-17 11:57] rosmo commented on #12
@brstgt, Can you try reverting this commit and try: https://github.com/wcgallego/pecl-gearman/commit/4423da6e18d8e0cd9901427f2e9d572e7974f385

[2016-03-17 12:49] brstgt commented on #12
Tested and works.

What else I can tell:
- Without that fix, creating (better destroying) many GearmanClient creates SEGV
- With that fix no SEGV occur by creating many GearmanClient objects

But there must still be something wrong with the callbacks.
Even if I reuse the client object and only set the complete callback for every run, that creates segfaults.
Core dump says it crashed in "call_user_

[2016-03-17 16:59] rosmo commented on #12
@brstgt, Can you try this branch: https://github.com/rosmo/pecl-gearman/tree/task-callback-fix ? (includes reverting the commit I mentioned)

[2016-03-18 11:40] brstgt commented on #12
Hi @rosmo,
Sure I can but at the moment we had to roll back to PHP5 for a different reason.
I think I will have time to test next week.

Is that ok?

JFYI: My own patch works quite stable, that means I commented out the ZVAL_DTOR(...->zClient) in task free and the efree(intern) in client free

[2016-03-18 13:54] wcgallego commented on #12
Hey All,

I've merged @rosmo's patches (thanks again!). The included tests are passing and any ad-hoc ones i've put together to try to suss out the issues seems solid as well. Was worried about a memory leak but I think we're ok there!

Please give the most recent build a shot and let me know if you're still experiencing issues.

[2016-03-18 13:57] wcgallego commented on #13
zval_dtor should only destroy the object fully if the refcount is 0. We might need to include an zref_add every time we use this object.

Just for my own sanity as I sort through these, can you try the latest build to see if you can replicate? I know you said you were going to need a few days first.

[2016-03-18 13:59] wcgallego commented on #10
I think this has been fixed with #11. When you're able, can give a look?

[2016-03-18 13:59] wcgallego commented on #8
This seems like it won't fix. Closing.

[2016-03-18 13:59] #8 closed

[2016-03-18 14:01] wcgallego commented on #6
@vojta I think several fixes might have helped resolve this. Latest branch should be up to date with several important merges. Give it a shot and lemme know!

[2016-03-18 14:03] wcgallego commented on #7
Ok, so the original intent of this issue was memory leak, which is fixed. Other issues for the package have been opened to address various other problems. I"m going to close this for now and we can either open up a new issue as they arise or if we think the memory issue addressed in the first post is not resolved then reopen this one.

Thanks again to everyone for patience and for contributions.

[2016-03-18 14:06] acasademont commented on #12
Going to try it asap, thank you all!

[2016-03-18 14:14] wcgallego commented on #13
hey @vladnis, I merged a bunch of fixes from other pull requests. I did make a minor fix in which GearmanWorker::addServer's params should be optional, but otherwise the pull requests elsewhere seem to have fixed the multi-query example. Can you grab HEAD and test again on your end? thanks!

[2016-03-18 14:42] vladnis commented on #13
The Segfault is resolved. But, I saw that if you left addServer to get defaults parameters, it does not seem to connect to 127.0.0.1:4730. It rather remains blocked. I can close this bug. Should I create a new one for the above problem? Thanks.

[2016-03-18 14:42] #13 closed

[2016-03-18 15:52] wcgallego commented on #13
No, I'll just patch that up real fast :) thanks!

Update: @vladnis can you actually open up an issue? I'm actually able to use the defaults when creating a worker. localhost:4730, right?

[2016-03-18 18:50] acasademont commented on #12
@wcgallego no segfaults on our testsuite with the new master, yay!

[2016-03-21 08:49] vladnis opened #16 "Leaving default values for addServer() results in jobs not being processed"
Hi,

When running the example from http://gearman.org/examples/multi-query/, if I leave the addServer function to default values the worker and client seem to not comunicate and jobs are left unprocessed.

Example was run with PHP 7.0.4-6+deb.sury.org~xenial+3 (cli) ( NTS )

sudo netstat -peanut | grep 'php'

worker ==>  tcp        0      0 127.0.0.1:38210         127.0.0.1:4730          ESTABLISH

[2016-03-23 09:39] brstgt commented on #12
Yes, works quite well, but there is another issue. The Worker segfaults if an Exception is thrown and not caught in the worker callback. I will open another issue for that.

[2016-03-23 09:39] #12 closed

[2016-03-23 09:40] #9 closed

[2016-03-23 09:43] brstgt opened #17 "SEGFAULT when Exception is not caught in Worker function"
`while (true) {
	$w = new GearmanWorker();
	$w->addServer();
	$w->addFunction('somequeue', function () {
		throw new Exception('lala');
	});
	$w->work();
}
`

Will constantly crash the worker. Catching and logging the Exception works.

[2016-03-24 21:05] dominch opened #18 "Test errors with PHP7"
Hello, I'm trying to get gearman extension working with PHP7:
[code]
(I had same issues with 7.0.4-6)

Everything is ok for those steps:
[code]

Here I can copy and enable module and it seems to work (I can start worker and pass something there). As soon as worker receive task it gives me segmentation fault and core dump. I decided to run some simpler tests like those in main module directory and

[2016-03-25 17:52] tomahock commented on #18
Same here:

[code]

[2016-03-27 15:14] wcgallego commented on #18
Hey All,

So 'make test' is what I've been working on as canonical testing for the gearman package. test_client.php hasn't been updated.

As for gearman_client_clone, this hasn't been supported in the code before the migration to PHP 7 and I don't immediately have plans to put it in. Really, the test_client.php should be deprecated.

You do need to have gearmand running to have make test pass. You

[2016-03-27 15:47] wcgallego commented on #16
hey @vladnis,

I'm having some trouble replicating on my instance. The logic of this code hasn't changed from php 5 to php 7 - are you able to replicate this on a php 5 instance?

My steps were:
1) starting gearmand in daemon mode with default values
2) copied code exactly as is from multi query examples
3) in one window, run:
php worker.php
4) in another, run:
php client.php

It'll take a few sec

[2016-03-28 07:30] vladnis commented on #16
I am using gearman 1.0.6. Is this the newest stable release?

[2016-03-28 12:20] wcgallego commented on #16
No, you can find the latest releases for gearmand and libgearman here:

https://launchpad.net/gearmand/

I'm running 1.1.12 for my testing. I suggest trying to upgrade next, as I believe that the default values are tweaked in a later release, though I forget which.

Also, were you experiencing this same behavior with PHP 5?

[2016-03-29 21:12] dominch commented on #18
Hello,

Seems that last two tests fails with json module dependency:

[code]

Seems like it don't load json module, which is normally present:

[code]

and it works:

[code]

reviewing command which is used I think that problem is with -n switch (to not load any other ini):

[code]

those two are ok when run without `-n` (no ini) and `-d extension_dir...`, so that will work when module is copied t

[2016-03-30 13:47] vojta commented on #7
The memory leak is back in the latest code. Today I installed fresh extension in production and the memory usage is extreme again:

Fatal Error: Allowed memory size of 2147483648 bytes exhausted (tried to allocate 319488 bytes)

[2016-03-30 13:49] vojta commented on #6
@wcgallego I'm testing the latest branch and it seems much better. Occasionally, we are still getting some segfaults, I'm trying to collect a core dump.

[2016-03-30 14:32] rosmo commented on #7
@vojta, Allocation of 300 kB seems excessively large.. I tried the gearman_worker and gearman_client that you provided and I can't reproduce the error.

[2016-03-30 14:36] vojta commented on #7
Maybe it's another memory leak. I know for sure that when I start the client using PHP 5.5, the script never goes over 100M of memory. PHP7 run used 2GB of memory.

[2016-03-30 14:40] rosmo commented on #7
@vojta, Do you mean it's reproducible using the scripts you provided earlier? Or some other script? Do you also have some other extensions loaded?

[2016-03-30 14:41] vojta commented on #7
@rosmo sorry, I mean our production code, not the testcase which I provided earlier. It's not easy to isolate that, sorry :(

[2016-03-30 14:57] rosmo commented on #7
@vojta, Do you have any clue what kind of operation would be allocating 300 kB of memory? Are the workloads you are sending to Gearman so large? Are you creating multiple GearmanClients?

[2016-03-30 19:07] vojta commented on #7
@rosmo Yes, we are sending bigger workloads (JPEG images up to 5MB). We are sending them in both directions (the result is an image again). But it has never been problem when running on PHP5.

[2016-03-31 15:26] vojta commented on #6
The segfault occurs when i call pcntl_fork() without unsetting the GearmanWorker object. I should not do that, I'll fix my code. I'm just saying "this used to work on PHP5". But it's not a showstopper for me. The original segfault is resolved. Closing, thank you!

[2016-03-31 15:26] #6 closed

[2016-04-01 12:21] dominch opened #19 "Crash when worker receives job (PHP7+Symfony3)"
I still can't get to work Gearman with symfony3 and php7. I removed whole code from workers and and tried as simple as possible example and still there is core dump as soon as worker receive task.

[_usr_bin_php7.0.33.crash.zip](https://github.com/wcgallego/pecl-gearman/files/199564/_usr_bin_php7.0.33.crash.zip)

This may be duplicate of #17

The problem is present with symfony3 + mmorean/sfGearma

[2016-04-03 22:14] wcgallego commented on #10
Closing this out. If it's still an issue, please reopen @brstgt

[2016-04-03 22:14] #10 closed

[2016-04-03 22:28] wcgallego commented on #18
Hey @dominch

I figured it was easier to just remove json_encode from the tests and drop in the string that would've been there anyways. So gearman_worker tests 14 and 15 should now run cleanly without it.

As for the gearman client tests, I bet I've assumed that the default options would be the same everywhere. I'll poke at cleaning that up as well and push that change in. Thanks again for helpin

[2016-04-03 22:37] wcgallego commented on #18
Ok! I've forced setting the default option value before doing the checks. I'd love to avoid using functions as assumptions before setting them, but not sure of a better way yet. Suggestions welcome.

Anyways, please give this a test and see if any others are failing for you.

[2016-04-03 22:45] wcgallego commented on #17
Hey @brstgt, looking into this more. Some questions
- Got a core dump? Those are often helpful
- Are you queuing up any jobs along with this or just running this stand alone?
- What version of libgearman are you using?
- Are you doing anything more than just dropping this in a file and running php worker.php?

any other info you think might be useful in adding to this would be great

[2016-04-03 23:09] wcgallego commented on #19
Hey @dominch, probably going to need a little more here. Distilling down the client and worker side of things would be a big help of course. Including what data you're queuing up, what kind of task/job you're running, etc. It sounds like the crash is happening on the worker then and not the client?

[2016-04-04 02:02] wcgallego commented on #17
Ok, I think there's actually two problems at play:

1) the GearmanWorker::addFunction call isn't properly handling anonymous functions

2) This mishandling is falling into the exception state, but the exception handling isn't working correctly either, which is causing the seg fault

I can replicate this so I'll get to it fixing this up. Thanks for figuring this out and sorry for the disruption

[2016-04-04 02:18] wcgallego commented on #19
I've just pushed a commit that helped with with issue #17 . Can you grab the latest and see if this helps? Thanks!

[2016-04-04 02:19] wcgallego commented on #17
Hey @brstgt, I've pushed a change which I think fixes the above seg fault, at least how it was replicating on my system. Please give the latest a grab and test it out. Thanks again.

[2016-04-04 07:22] brstgt commented on #17
Good job :) Seems to work!

[2016-04-04 07:22] #17 closed

[2016-04-04 07:55] dominch commented on #18
Hello,
I just updated it and tried, it's OK:

[code]

Thanks for quick response and fixes, sure it's not that important to require json module on tests. :) You will probably hit few other configuration issues in future, let's just wait for suitable ticket :)
Thanks again :)

[2016-04-04 07:55] #18 closed

[2016-04-04 07:56] dominch commented on #19
Sure, checking now.

[2016-04-04 11:54] wcgallego commented on #7
hey @vojta, just to confirm - is the issue you're seeing still manifesting from the code snipper in the post post? Also, are you seeing this on the client end or the worker send? @rosmo makes a good point - it's possible it's the gearman extension but it could be another as well.

We're doing tens of millions of jobs a day at my work but we're not seeing the same memory leak. Are you running tasks

[2016-04-04 12:01] vojta commented on #7
We're using Tasks, GearmanClient->addTask().
Maybe you're right and it's a problem somewhere else when using PHP7. I have to isolate that case.

[2016-04-04 12:13] dominch commented on #19
No change :(

I've prepared short instruction how to reproduce this issue. If You'll have trouble about reproduction - let me know - I'll prepare vm with example.

install symfony (3.0) as described here: http://symfony.com/doc/current/book/installation.html

[code]

add my repository to composer.json:

[code]

and require it in same file:

[code]

run update:

[code]

add two bundles to config/ap

[2016-04-04 12:21] wcgallego commented on #19
ah bummer. That's a lot of steps! Thanks for documenting, might take some time to get it all set up. Will continue diving in.

[2016-04-04 12:48] dominch commented on #19
I documented all steps because this can be valuable example for future. Also there is attached gzip file at the end with all classes and configuration :) that one needs only composer update and last three steps.
Let me know if I can help you anyhow with debugging on this.

[2016-04-05 13:56] rosmo commented on #7
@vojta, We are using tasks, but not seeing any big memory leaks anywhere.

[2016-04-05 13:58] wcgallego commented on #7
@vojta, if you have a wide array of tasks, can you try running a handful of each and see how memory jumps with each type? That might be easier said than done, but would go a ways in seeing which code is hit

[2016-04-05 17:43] wcgallego commented on #16
Closing this for now, as it looks like it might be an issue with the underlying c lib.

@vladnis, if upgrading libgearman doesn't fix this, please reopen and we can discuss further. Thanks!

[2016-04-05 17:43] #16 closed

[2016-04-12 01:11] acasademont commented on #19
I must say that it's also segfaulting for us again using Symfony :(

[2016-04-14 23:31] wcgallego commented on #19
Hey, finally getting into this! Whew, it's tough being busy :)

@acasademont and @dominch, if you could include any core dumps and where the seg fault is happening (On the client side or the worker side) that would help as well. Something with a stack track I can walk through with gdb would be huge. In the mean time, I'll set this up and try to replicate it on my end.

[2016-04-15 06:56] dominch commented on #19
Hello, thanks for Your support :) I already attached core dup at top of page, here is the link: https://github.com/wcgallego/pecl-gearman/files/199564/_usr_bin_php7.0.33.crash.zip
let me know if it's right format and how to get the one You need.

It crashes as soon at worker receive task. Sending jobs works. Waiting for one is working too till something comes. In example above job is send earlier

[2016-04-15 08:36] acasademont commented on #19
hi will, In the end it was a very weird issue in one of our servers where the extension was not being compiled correctly (and I still don't know why). I ended up copying the binary .so from another server with the same characteristics. So we're fine now :) thanks!

[2016-04-15 10:12] wcgallego commented on #19
@acasademont Great! Glad it's working, lemme know if other stuff comes up.

@dominch Ah ok, that helps. I was sending jobs at it. I did see the crash at the top, sorry I wasn't clear. I'm looking for a core dump file, one that gdb can do a backtrace on. I think I can do this with the file above but it's not as clear to me as I haven't had experience with that before.

I was able to set up your ins

[2016-04-15 10:58] wcgallego commented on #19
ok, so @dominch if you could, apport-unpack and bundle the crash into a zip please. I don't have an ubuntu instance

[2016-04-15 11:05] dominch commented on #19
sure, here it is:
[_usr_bin_php7.0.33.crash.dir.tar.gz](https://github.com/wcgallego/pecl-gearman/files/220809/_usr_bin_php7.0.33.crash.dir.tar.gz)

[2016-04-18 02:17] wcgallego commented on #19
So the stack trace isn't showing me much. I'm guessing you've built your system dynamically linking your shared objects? I'm sure there are smarter people than I who know workarounds for that, but I'm not one of them :\

If you wanna run `gdb php CoreDump` on that file, then run bt and capture the output, that would help! Sorry for the ping pong response.

That said, I think I've been able to gene

[2016-04-19 07:29] dominch commented on #19
here is the output:

[code]

I know that symfony is complex framework and it's much harder than simple cli script. Sure it's very hard to see problem without ability to run and debug.

I think that the best way to check that is tu run vm with ubuntu and this installation. Are You using it or any other virtualization? I can prepare machine for You and export it with this example ready to run. Virtu

[2016-04-21 01:33] wcgallego commented on #19
Ok, so a little bit of progress here. I think the issue is here in the GearmanBundle:
https://github.com/mmoreram/GearmanBundle/blob/master/Service/GearmanExecute.php#L279-L287

I swapped out that section for a dummy bit of code:

[code]

And that seemed to process the job correctly. My guess is it has something to do with including the context when adding the function and then trying to process t

[2016-04-21 01:51] wcgallego commented on #19
Ok, here's boiling it down to 2 files, a client and a worker:

Client:

[code]

Worker:

[code]

Which is great - it eliminates all that complexity from Symfony and I can replicate it repeatedly. I know that doesn't solve your issue just yet, but this goes a long way to fixing it! Also, I wanted to show I haven't forgotten about you :)

[2016-04-25 14:46] dominch commented on #19
Hello, stripping it down always help :) Have You tried this on ubuntu or is it reproducable in other distro?

[2016-04-25 15:03] wcgallego commented on #19
Yup, it's platform independent. That's good - it'd be annoying to fix otherwise :)

The good news is I fixed the segfault. The bad news is there's now a lingering mem leak I've been struggling with over the weekend. I've got it located and it's within the code I added to fix the seg fault, but can't quite nail down the resolution. Going to poke at it some more today and possibly run it by some cow

[2016-04-28 15:06] stephenorr opened #21 "Tag a release"
Are there any outstanding issues that would prevent tagging a release?

I've just built a Homebrew formula to install the extension based on this repo (PR here: https://github.com/Homebrew/homebrew-php/pull/3120), but it's not passing all of its checks as I'm relying on the master branch rather than a stable version.

If further testing is required, I'm happy to assist - really think it'd be great

[2016-04-28 17:13] wcgallego commented on #21
The outstanding issue is the segfault/memory leak I'm currently cleaning up. It's affecting anyone who passes in a reference to a method in a class as the added function for a Gearman worker.

I've fixed the segfault, but am working on the mem leak part of it. I've got a reproducible case. This is on my radar.

[2016-04-29 10:08] stevehill1981 commented on #21
Great, thanks :)

[2016-05-03 16:19] wcgallego commented on #19
hey @dominch,

thanks again for patience on this. Still trying to sort out completely. Made some further changes, but the memleak basically jumps around when I do (though I discovered other bugs and patched them along the way)

If you're really desperate to try something out, I've set up branch issue_19 which has my experimental changes for fixing this. It'll still produce a meleak when the Gearma

[2016-05-05 05:28] aashley commented on #19
I've been switching our code base to PHP7 and have been following this bug, have been testing the issue_19 branch with Symfony 3 and PHP7.

I've found yes your simplified test case is no longer segfaulting. There are a couple of other issues when running against the full Symfony and GearmanBundle stack.

It appears that after the first run the $context passed to addFunction is reset back to an emp

[2016-05-05 05:52] aashley commented on #19
Updated test case that triggers the problem, using the same client send two jobs to the worker

[code]

Output:

[code]

core dump: [core-php.8080.gz](https://github.com/wcgallego/pecl-gearman/files/249990/core-php.8080.gz)

[2016-05-05 12:45] dominch commented on #19
Hello,
@wcgallego: I just upgraded my module and made some test. Very simple workers and clients works without segfault. For now i reconfigured worker to process only one task at time and then restart, so it will not leak too much memory. Thanks for this quick fix - this lets me use gearman for now. I'll make more complex example now, and hope to not find anything more :)

@aashley: what symfony b

[2016-05-05 13:57] aashley commented on #19
I'm using Gorjunov's PR branch https://github.com/mmoreram/GearmanBundle/pull/168

It has all the symfony 3 & php7 fixes and composer.json is updated will install along with symfony 3 with no changes on my part

[2016-05-05 18:50] dominch commented on #19
Thanks Adam, this branch is almost same as mine so probably I'll hit segfault soon. I was curious is your bundle based on mmoreram or something different :) Thanks for information :)

[2016-05-05 23:20] aashley commented on #19
I'm surprised you haven't. From what I'm seeing the crash is caused by how mmoreram does the callbacks. The references to objects set as part of the context appear to be the trigger for the crash and as I've looked into it more possibly the memory leak.

[2016-05-11 10:28] dominch commented on #19
With very simple task and big amount of free memory You are not hit this always. Sometimes it's one third task. Something is leaking for sure.
Of course right now - with bigger tasks it's crashing on each second task.
Your test is good enough, if it's not segfaulting then it will on third task even if it's hello world.

[2016-05-12 17:05] dmitriivoitovich opened #22 "Difference in methods signature - new argument client_object appeared"
There are a bunch of methods that now for some reason started to require client_object as the first argument:

[code]

For example for setOptions() method php.net says that there should be only one argument: http://php.net/manual/en/gearmanworker.setoptions.php

And it used to be like that:

Dockerfile to setup php5 env:
[code]

Results:

[code]

But now it is different:

Dockerfile to setup php7

[2016-05-13 20:57] wcgallego commented on #22
Hey @dmitriivoitovich,

I think you're mixing up two different things. You linked to GearmanWorker on php.net, but you instantiate a GearmanClient object in your PHP code.

Yes, there were some internal changes allowing code reuse so that both the procedural and OO methods both use the same C code. That might show up in the reflection. The PHP code you have above is accurate though - if you instan

[2016-05-13 21:57] dmitriivoitovich commented on #22
@wcgallego sorry for wrong link, of course there should be http://php.net/manual/en/gearmanclient.setoptions.php instead, but declarations are equal anyway.

I understand that there are 2 different ways to set options: a method of the **GearmanClient** class and the function **gearman_client_set_options**, so if you call the function, then of course you have to provide an instance of the class as

[2016-06-10 17:26] caiohasouza commented on #2
Hello @wcgallego,

I too have this problem, my environment:
Centos 6.8
PHP 7.0.7 (cli) (built: May 25 2016 18:36:46) ( NTS )

In ./configure:

....
/tmp/pecl-gearman/php_gearman.c:3865: error: ‘gearman_task_obj’ has no member named ‘zdata’
/tmp/pecl-gearman/php_gearman.c: At top level:
/tmp/pecl-gearman/php_gearman.c:3871: error: expected ‘=’, ‘,’, ‘;’, ‘asm’ or ‘**attribute**’ before ‘gearman_tas

[2016-06-13 18:58] xdexter opened #23 "Unable to compile extension"
Hello

I have same problem the issue (https://github.com/wcgallego/pecl-gearman/issues/2), my environment:
Centos 6.8
PHP 7.0.7 (cli) (built: May 25 2016 18:36:46) ( NTS )

In make:

....
/tmp/pecl-gearman/php_gearman.c:3865: error: ‘gearman_task_obj’ has no member named ‘zdata’
/tmp/pecl-gearman/php_gearman.c: At top level:
/tmp/pecl-gearman/php_gearman.c:3871: error: expected ‘=’, ‘,’, ‘;’, ‘asm

[2016-06-27 21:09] javian commented on #21
@wcgallego are you making any progress on this issue ?

[2016-07-01 11:32] xalopp opened #24 "PHP7 GearmanClient::doBackground returns a fixed size string padded with NULLs"
When I create a job with GearmanClient::doBackground with PHP7, the function will return a job handle which has a fixed size of 63 bytes, padded with NULLs. So it's not really a string, but a fixed sized area of bytes.

[code]

PHP5 returns a proper PHP-String with proper size.

I'm running German version  1.1.11.

PR is in progress.

[2016-07-02 11:11] xalopp commented on #23
I just tested on CentOS 6.8 with PHP7 from Webtactic and Gearman from EPEL, and it's compiling without failure and all tests are passing.

Sure you're using phpize of PHP7 and having the gearman devel files properly installed?

[code]

[2016-07-04 12:30] caiohasouza commented on #23
Hello, @xalopp,

I cloned the repo again and everything was fine.

Thank you.

Att;

[2016-07-04 12:30] #23 closed

[2016-07-04 19:47] xalopp commented on #23
@xdexter you're welcome.

[2016-07-15 22:05] #24 closed

[2016-07-15 22:06] wcgallego commented on #24
Thanks for the fix @xalopp! Sorry for the delay - was out of country.

[2016-07-16 11:30] xalopp commented on #24
@wcgallego no problem. Thanks for merging 🎉

[2016-07-18 12:41] xalopp opened #28 "Extension is not thread safe"
`tests/gearman_client_011.phpt`  might fail, when the test suite is run with a thread safe PHP, as provided by Travis CI, see https://github.com/travis-ci/travis-ci/issues/2800

Should I create a PR which explains this situation in the README?
Or are there any plans to make this extensions TS?

[2016-07-30 17:58] wcgallego commented on #28
hey @xalopp, thanks for chiming in on this. I'll be honest, making this extension thread safe is beyond my capabilities tweaking the extension, so as of now I can't make claims as to doing so in the future. Smarter engineers than I can certainly tackle that and I'd be all for it!

I think explaining such in the README is a solid idea, if only so there's a caveat for such.

[2016-08-01 19:13] wcgallego commented on #7
Hey @vojta,

Fantastic news - had some major help from a coworker who figured out the mem leak! tl;dr circular references are rough.

I've confirmed tests pass and not seeing the mem leak anymore in the code provided. If you can test the issue_19 branch (I'll be merging it into master soon too) I think this should solve your problems!

Major props to @keyurdg for his help here.

[2016-08-01 19:13] #7 closed

[2016-08-01 19:15] wcgallego commented on #19
hey @dominch,

apologies for long delay in this. I was absolutely stuck. As mentioned in another issue, we've solved the seg fault and mem leak that were present for GearmanWorker. Destructors are apparently our friends!

I'm going to close this out because it looks like things are sorted, but if you see more issues with this please reopen or create a new issue. Thanks!

[2016-08-01 19:15] #19 closed

[2016-08-01 19:16] wcgallego commented on #21
Hey @javian and @stephenorr,

thanks for patience here. With the help of one of my coworkers, we tracked down the memleak (a circular reference, see issue #19).

I'll be putting together some of the merge commits and tagging a proper release now that I feel (more) confident the code isn't breaking everyone else's.

[2016-08-02 03:17] keyurdg commented on #22
@dmitriivoitovich Please try the [fix](https://github.com/wcgallego/pecl-gearman/commit/1eab84bcccc2a61e880b5d5779477d45d45d1437) in branch issue_19. It should resolve the issue.

[2016-08-02 08:01] xalopp commented on #28
@wcgallego should I open a PR  which adds a `LIMITATIONS` section to the README file?

[2016-08-02 10:45] dominch commented on #19
Hello @wcgallego
I just updated and recompilled extension and problem is still present :( I assume it should be fixed in master branch now?

[2016-08-02 16:03] wcgallego commented on #19
hey @dominch, the fix is in both the issue_19 branch and in master (merged yesterday).

Just to confirm - you've sudo make install'd it and graceful'd your apache instance to pick up the new changes, yes?

[2016-08-02 23:40] dominch commented on #19
I rechecked again. Git log shows me latest commits and merge. Module was compiled and installed as root. Module is moved to extension dir pointed in php.ini, and it's date is changed. I moved gearman.so out of there and there is error when it's looking for module. This has to be good file.

The only thing I didn't need to do was restarting apache, it's crashing in cli workers - not in www mode. I

[2016-08-03 15:49] marcguyer commented on #19
Just FYI, guys. I created a basic repo of a bare bones env with [working php7 and gearman extension](https://github.com/marcguyer/php7-gearman-test). It compiles the current master of wcgallego/pecl-gearman and everything else is stock Ubuntu 16.04.

[2016-08-06 10:14] stevehill1981 commented on #21
Awesome, thanks @wcgallego.

[2016-08-08 16:10] keyurdg commented on #28
@xalopp The test 011 is faulty. I fixed it in commit 360b12cfe952bfdda0b70ae0f8f37cdfda8f94bb.

The extension is thread-safe, so PR #30 is not needed.

[2016-08-08 16:10] #28 closed

[2016-08-09 09:57] xalopp commented on #28
@keyurdg awesome! Test runs with plain travis-ci PHP (zts build)

[2016-08-09 10:13] xalopp opened #31 "Enable Continuous Integration for pecl-gearman"
We should enable Continuous Integration for pecl-gearman, so the test suite will be called for each PR.

This can by easily be done with using [Travis CI](https://travis-ci.org/).

[2016-08-09 21:33] wcgallego commented on #19
hey @dominch,

@keyurdg was kind enough to make some solid changes again! (Many thanks!)

I haven't had a chance to test against symfony3 yet, but might be worth a shot!

If this is still wonky, can you reopen this issue?

[2016-08-13 12:58] #31 closed

[2016-08-13 13:09] wcgallego commented on #21
Apologies for slowness - life gets in the way of our code :P

I've created branch 2.0.1 which should be considered the current stable branch. Thanks for keeping me honest here!

[2016-08-13 13:09] #21 closed

[2016-08-16 17:24] stevehill1981 commented on #21
@wcgallego - Is there any chance you could tag 2.0.1 as well please? As I'm relying on it for my Homebrew formula, it's handy to have a known fixed version to install.

[2016-08-16 17:37] wcgallego commented on #21
Ah, sorry about that!

https://github.com/wcgallego/pecl-gearman/tree/gearman-2.0.1

[2016-08-17 06:01] javian opened #33 "Removing forked status"
Thanks for tagging the 2.0.1 release and I'll make sure it gets included into homebrew-php some time this week. The audit check for homebrew formulas also check the forked status of the repository. If this is the main repo for gearman today would you mind removing the forked status of the repo ?

[2016-08-18 11:43] stevehill1981 commented on #21
Wonderful :)

[2016-08-21 19:31] wcgallego commented on #33
I think we're going to merge this back in with hjr's, not mariano's. Working on that!

[2016-08-22 05:20] ce5ca11a0 commented on #19
Using wcgallego/pecl-gearman I get a "/usr/lib/php/20151012/gearman.so: undefined symbol: gearman_task_fetch_object" when calling **addTask** on the client.  When using **doNormal**, I get "Segmentation fault (core dumped)" on the worker after every third call to a queue (job).  I just upgraded to Ubuntu 16 (x64) and PHP7.  All worked OK in Ubuntu 14 and PHP5.3.  Any help is much appreciated.

[2016-08-22 11:40] vojta commented on #7
@wcgallego Thank you, I'll give it a try next week!

[2016-08-22 11:55] wcgallego commented on #19
@ce5ca11a0 please open a new issue for your problem, as that will help give clarity to solving the problem

[2016-08-22 12:02] ayanozturk commented on #19
Hi,

When you upgraded php version to 7 php API version also changed. gearman
was compiled against this api to work with php5. When you upgrade major php
version , you also need to recompile all php extensions which you installed
with pecl.

In short, try to recompile gearman

On Mon, 22 Aug 2016, 06:20 ce5ca11a0, notifications@github.com wrote:

Ayan Öztürk

[2016-08-23 14:00] vojta commented on #7
So, I'm running it in production: it's better, but some memory leak still exists. I'm getting OOM errors with 2GB limit. No problems with PHP 5.5 version with the same memory limit.

Good job, but still not perfect :)

[2016-08-23 14:49] wcgallego commented on #7
And Gearman is still the only extension involved here?

I haven't come across any other memory leaks with this yet. Are you able to run an empty task (nothing in the actual work part of it) to eliminate surrounding code?

[2016-08-23 18:19] keyurdg commented on #7
@vojta I think this time the fix is in for good :) Check out commit f8bcc7e6df982a97df9bbdcc5e71cfe9eb62223c

[2016-08-23 18:20] keyurdg commented on #7
It was very subtle, took a while to figure out what was wrong. The traditional memory leak detection tool valgrind was showing everything as OK.

[2016-08-24 03:48] ce5ca11a0 commented on #19
**Ayan:** Yeap, I compiled the extension from source and double checked the API changes in PHP and Gearman.  I imagined other folks would have a similar issue by now.  For now, I'll assume something else went wrong on the upgrade of Ubuntu 14 to 16.
**wcgallego:** I am new to this world of github and open source.  I just opened a new issue.  Let me know how else I can help.

[2016-08-24 06:11] ce5ca11a0 opened #34 "pecl-gearman-master/php_gearman_task.h:48:26: warning: inline function ‘gearman_task_fetch_object’ declared but never defined"
This is a follow up on my post:

When I compiled it from source using "make install", I get:

/bin/bash /pecl-gearman-master/libtool --mode=compile cc  -I. -I/pecl-gearman-master -DPHP_ATOM_INC -I/pecl-gearman-master/include -I/pecl-gearman-master/main -I/pecl-gearman-master -I/usr/include/php/20151012 -I/usr/include/php/20151012/main -I/usr/include/php/20151012/TSRM -I/usr/include/php/20151012/Ze

[2016-08-30 08:12] vojta commented on #7
@keyurdg Thank you! It works perfectly so far. 3 days in production without any OOM error.

[2016-09-04 10:42] lougreenwood opened #35 "Error relocating /usr/local/lib/php/extensions/no-debug-non-zts-20151012/gearman.so: gearman_task_fetch_object: symbol not found in Unknown on line 0"
Hi :)

I'm currently attempting to build the Gearman PHP extension on an Alpine Linux based PHP7 docker image.

I'm using the official package from here - https://hub.docker.com/_/php/ (7.0.10-fpm-alpine).

I've built the extension using the following commands:

[code]

(docker-php-ext-enable is a helper script provided a as part of the docker PHP image)

The problem I'm finding is that I get the

[2016-09-04 11:22] lougreenwood commented on #35
I just noticed that when I do php --info | grep gearman, I get this output instead:

[code]

Note the PWD & $_SERVER_PWD - could this be related?

[2016-09-06 12:57] dbaltas opened #36 "'duplicate symbols for architecture x86_64' mac os x php7 link error"
Building the extension fails on mac os x 10.11.4 with error
`duplicate symbols for architecture x86_64`

Output of the build log:

[code]

Running cc with `-v` flag produced the same errors including some system details that may help

[code]

[2016-09-07 08:15] dbaltas commented on #36
unfortunately the commit above did not work.

When loading the library (for example running `php -i`) I get `Symbol not found: _gearman_client_ce`:

[code]

[2016-09-15 07:52] vtky commented on #35
@lougreenwood you may want to have a look at my pull request if you need your issue fixed urgently

[2016-09-15 08:34] lougreenwood commented on #35
@vtky, perfect, I'll take a look, thanks - I had about 1 day left before I needed to rip up my Alpine linux image and move to Ubuntu just because of this error - fingers crossed :)

[2016-09-15 09:12] lougreenwood commented on #35
@vtky seems to work for me too - thanks 👍

[2016-09-15 16:42] wcgallego commented on #34
Yup, this is what i get for trying to clean things up. Sorry about that! This merge should fix:

https://github.com/wcgallego/pecl-gearman/commit/a2932e3c03ebf7bf0d686269b67ff19538d2192e

lemme know if it works for you?

[2016-09-15 16:43] wcgallego commented on #35
Cool, looks like it's fixed (thanks @vtky for jumping in!)

closing.

[2016-09-15 16:43] #35 closed

[2016-09-15 21:38] wcgallego commented on #36
@dbaltas - are you building from master or the 2.0.1 tag?

[2016-09-16 08:19] xalopp commented on #36
@wcgallego I can reproduce this issue with the latest master (a2932e3c03ebf7bf0d686269b67ff19538d2192e) on Mac OS 10.10.5

I'm working on a fix for that. PR is progress.

[2016-09-21 09:39] er1z commented on #19
Check if this helps on your issue: https://github.com/mmoreram/GearmanBundle/pull/172

[2016-09-22 15:14] wcgallego commented on #34
Waiting on a response back, I'm going to close this for now. I believe this to be fixed.

If it's still broken, please reopen and add any additional info. Thanks!

[2016-09-22 15:14] #34 closed

[2016-09-23 01:15] kylephp opened #40 "PHP 7 - Segmentation fault (core dumped)"
Hi,
I've got the above error when trying with 2.0.1
Seems a random bug and hard to reproduce b/c it did not happen quite often. I've got this from /var/log/messages:

#

System info:
- CentOS 6.8
- Libgearman 1.1.8
- PHP 7.0.10

My compiled extension included the fix on https://github.com/wcgallego/pecl-gearman/commit/3ef16f9b5cc105ad970ef050c743909316d83f47
Any idea how to debug the crash on the

[2016-09-28 12:24] wcgallego commented on #40
Hey @kylephp, the OS/versions are a good start and I appreciate linking to the commit that broke. Do you have example code to reproduce reliably? The log message doesn't really give me much (those memory addresses won't be consistent system to system or even run to run).

Can you enable core dumps and attache a core dump file?

[2016-10-16 18:59] wcgallego commented on #40
@kylephp please reopen when you can attach a core dump. Thanks

[2016-10-24 10:13] dmitriivoitovich commented on #22
@keyurdg I can't reproduce the issue with version of extension built from issue_19, but there are some tests failing on **make test** command. Is that ok?

[code]

[2016-10-24 10:19] wcgallego commented on #22
@dmitriivoitovich Can you confirm gearmand is running when you run the tests and that it's on the default host/port (localhost/4730)?

There is one failing test still, just haven't had a chance to dig into

[2016-10-24 10:49] dmitriivoitovich commented on #22
@wcgallego My fault, the daemon was stopped, sorry for misleading. All the tests pass when run with the daemon started.

[code]

Should the branch now be merged in?

[2016-10-24 11:56] wcgallego commented on #22
Hrm, thought that got merged in, not sure how that got missed. Will fix. Reopening as a reminder to myself

[2016-10-24 12:27] wcgallego commented on #22
@dmitriivoitovich can you give the master branch a try?

[2016-10-25 07:11] dmitriivoitovich commented on #22
@wcgallego tests pass, no additional errors in logs, looks fine
Many thanks for your assistance!

[2016-10-25 10:54] wcgallego commented on #22
awesome, closing up the issue. Thanks!

[2016-10-25 10:54] #22 closed

[2016-11-08 06:43] disfasia opened #41 "PHP_GEARMAN_CLIENT_RET_OK"
I think the latest commit introduced a new bug:
while compiling:
[code]

And workers now exit with:

`php: symbol lookup error: /usr/lib/php/20151012/gearman.so: undefined symbol: PHP_GEARMAN_CLIENT_RET_OK
`

[2016-11-09 12:20] galicante commented on #41
+1

[2016-11-11 23:40] wcgallego commented on #41
Thanks for the heads up on this. Will take a look.

Just remember to use the tags as master is bleeding edge and shouldn't be considered prod worthy yet.

Better still, if you can put together a test for this, all the better

[2016-11-11 23:52] wcgallego commented on #41
Ah, nm on test, probably not really a testable thing. But I'll hop right on this

[2016-11-11 23:57] wcgallego commented on #41
Easy fix, just needed to include php_gearman_client.h in php_gearman_worker.h.

Give the latest on master a pull and see if it works?

[2016-11-12 00:00] wcgallego commented on #36
I mentioned in pull request, but I've been reworking a lot of the core parts of the code, adding tests (fixing some) and splitting up the files. Give the latest on master a pull and see if that fixes it for you.

I'll put out a new tag once I've finished splitting up the files. I'm on the last class, GearmanJob, and hoping to finish that by end of the weekend.

[2016-11-12 07:56] remicollet commented on #33
Any news about merging with Herman Radtke sources, and then doing an official PECL release ?

[2016-11-12 11:37] wcgallego commented on #33
hey @remicollet, been focused on cleaning up rather than official pecl release.

Herman's not involved in working on the extension anymore, so we decided it'd be better to split this out into a github repo that's not connected to a specific user.

Just finished a big sweep of adding tests and splitting up files last night, so I'll try to get to that this weekend.

[2016-11-12 17:53] wcgallego commented on #33
ok! Step one is done. Forked status is removed here.

Before we get an official realease, I'd like for this to have a permanent home, though, so we don't have to switch it again later. I've emailed the owners of https://github.com/gearman to see if they'd like to include the pecl-gearman as one of their repos. If they agree, I'll transfer over. Otherwise, I'll set up a standalone pecl-gearman-dev

[2016-11-13 06:53] remicollet commented on #33
Notice than another solution is to ask for repo creation on git.php.net (mirrored on https://github.com/php/ for PR). This allow imply using pecl bug tracker (which already [exists](https://bugs.php.net/search.php?cmd=display&status=Open&package_name[]=gearman))

[2016-11-13 13:42] wcgallego commented on #33
good call, @remicollet! What's the best path to asking for such? Should I just hit up someone in #php.pecl on Freenode?

[2016-11-13 14:24] remicollet commented on #33
Have to ask on pecl-devl ML (and if too long, ping some admin on IRC), probably need approval from current owner, but IIUC, he is ok with that.

[2016-11-14 09:49] galicante commented on #41
Master looks ok now.
I'll switch on tags, thx :+1:

[2016-11-14 20:30] xalopp commented on #36
@wcgallego unfortunately the latest master (bbc426f5609269de13a0edbea0a821c0c0b952f3) increases the number of duplicated symbols on OS X

[code]

[2016-11-15 13:15] xalopp opened #42 "tests/gearman_tasks_integration_test_002.phpt breaks with gearmand 1.0.6"
Running the test suite with `make test`  for the current master (bbc426f5609269de13a0edbea0a821c0c0b952f3), the test `gearman_tasks_integration_test_002.phpt` will fail, with gearmand 1.0.6. With Gearman 1.1.x the test is doing fine.

[code]
Content of  `cat gearman_tasks_integration_test_002.log`
[code]

This has been tested on Ubuntu 14.04.1 (trusty) see https://travis-ci.org/xalopp/pecl-gearman

[2016-11-15 13:45] xalopp commented on #42
The behavior changed with  55e7ccc7ea66a73c15a099210657384ff7e5dfbd
@wcgallego are you using gearmand-1.1.x or gearmand-1.0.x  for testing?

[2016-11-17 15:39] #41 closed

[2016-12-03 07:14] necromant2005 commented on #36
Mac OS X: 10.12.1
PHP versions: 7.1 rc6, 7.1
Broken versions: master, 2.0.2
Working versions: 2.0.1

[2016-12-08 13:34] esabol opened #43 "Support SSL connections to gearmand"
There's a patch to support SSL connections here:
https://bugs.php.net/bug.php?id=67623

It's relies on some API changes to libgearman, however. That issue is currently being tracked here:
https://github.com/gearman/gearmand/issues/63

Assuming we can get that resolved, what do you think about the above patch to the PHP library? It looks fairly straightforward, but I'm not clear on the PHP 7 change

[2016-12-13 01:15] wcgallego commented on #43
yeah, might be nice to look into. Trying to knock out some logistics about location of this repo first though before adding features (even those 2 years old :P)

[2016-12-22 17:26] wcgallego commented on #33
Sorry for delay. Tyrael was kind enough to set this up on git.php.net at http://git.php.net/?p=pecl/networking/gearman.git;a=summary (see https://github.com/hjr3/pecl-gearman/issues/12#issuecomment-266323621)

I'll close this up one I've actually gotten the code migrated there

[2016-12-22 17:36] #36 closed

[2016-12-22 18:19] wcgallego commented on #42
Hey @xalopp, I've been using gearmand 1.1.2 for my work (slightly out of date).

As someone who isn't using an older version, I'm curious about adoption/current use of 1.0.x branch, as the last commit to it was 2012. I'd like to say 1.1.x should be min requirement and reflect such in documentation, but willing to hear pushback. The current maintainer says 1.1.x is still devel based on the naming s

[2016-12-23 11:28] xalopp commented on #42
@wcgallego
How about to stick on what it's declared in the README? 😄
[code]
Maybe it's fine to change that to `v1.1.8 or greater`

I'll will create a PR for that 😄

[2016-12-28 11:20] kemalbaynu3 opened #45 "runTasks method requires a parameter"
Hi,

I was playing around with PHP7 and I stumbled upon with this different behaviour.

In PHP5 with Gearman Client, runTasks method doesn't need a parameter.
`Method [  public method runTasks ] {
      - Parameters [0] {
      }
}`

But in this fork, it requires a parameter called 'data'.
`Method [  public method runTasks ] {
      - Parameters [1] {
        Parameter #0 [  $data ]
      }
}`

Co

[2017-01-14 11:12] javian opened #46 "Create a release version for the OSX compilation fix ?"
Could you please create a new release that includes the osx build fix so that it can be included in homebrew ?

[2017-01-16 02:40] #42 closed

[2017-01-16 02:48] wcgallego commented on #45
Thanks @kemalbaynu3, looks like a slip when I was tweaking some stuff. I'll put in a fix and push a minor version soon.

[2017-01-16 03:19] wcgallego commented on #46
Ok, tag gearman-2.0.3 created including osx build fixes. Hope that helps

[2017-01-16 03:19] #46 closed

[2017-01-16 03:20] wcgallego commented on #45
gearman-2.0.3 should fix that. Let me know if you see any others! Thanks

[2017-01-16 03:20] #45 closed

[2017-01-16 09:20] kemalbaynu3 commented on #45
Thanks!

[2017-01-24 23:28] esabol opened #47 "Update link to latest gearmand in README"
The README incorrectly points to launchpad.net to download the latest gearmand. It should point to

https://github.com/gearman/gearmand/releases

[2017-01-27 14:02] mfiyalka opened #48 "Fatal error: Uncaught Error: Call to undefined method GearmanClient::do()"
I use MAMP PRO 3.5 and PHP 7.0.0
I installed the extension according to instructions

The function `gearman_version()` works, but not working `GearmanClient()`:
[code]
Error:
[code]
Help me, please.

[2017-01-27 15:18] marcguyer commented on #48
I can't help you other than suggest that you also confirm the version of the lib you're using. What does your php_info say for Gearman extension version and libgearman version?

[2017-01-27 15:21] mfiyalka commented on #48
I found a mistake. I use a method that is outdated :)
Thanks.

[2017-01-27 15:21] #48 closed

[2017-01-28 20:08] wcgallego commented on #47
Updated! Thanks for the heads up

https://github.com/wcgallego/pecl-gearman/commit/0b35d6ae8818a75263d25dba7b6de24139f7c33d

[2017-01-28 20:08] #47 closed

[2017-02-20 10:40] genuss opened #49 "Segmentation fault on when passing context to addFunction"
It's possible to pass context object as the third parameter to GearmanWorker::addFunction(). If this context is an object or an array then segmentation fault will occur after doing first job.
Here is a minimal test example:
TestWorker.php:
[code]
TestClient.php:
[code]
Assuming gearman server is on 127.0.0.1:4730 run
[code]
The output will be:
[code]
PHP version: 7.0.15
OS: Debian 8 jessie
pecl-ge

[2017-03-22 18:50] esabol opened #50 "Backwards compatibility with PHP 5.x?"
I'd seen some other PHP extension projects that support both PHP 5.x and 7.x, so I kind of expected that would be the case here. I was surprised when the code didn't compile using PHP 5.2.30. Unfortunately, my sys admin doesn't want to upgrade to PHP 7, so I'm stuck with the older version of the extension, I guess.

If you have no interest in supporting < 7.x, I recommend changing the description

[2017-03-22 18:53] vojta commented on #50
@esabol you can use PHP5 extension from available RPMs/repos. We used Remi on PHP 5.6 2 years ago.
And not upgrading to PHP7 is something I can't really understand, run away as fast as you can.

I think this issue should be closed.

[2017-03-22 20:39] esabol commented on #50
I'm using an older version of the extension, obviously.

I agree it should be closed _once_ the description of the repo has been changed from "PHP wrapper to libgearman" to "PHP >= 7 wrapper to libgearman" (or something like that) and/or mentioning the PHP version requirement in the README. :p I don't think that's too much to ask. There's already a requirements section in the README, but it doesn'

[2017-03-25 11:42] wcgallego commented on #50
hey @esabol, I made the explicit decision to branch away from PHP 5.x when porting pecl-gearman to 7.x. The code was already dangerously in need of clean up and while it is technically possible to build in both, it would've complicated things greatly. As pecl-gearman wasn't seeing major updates (it had been years since any commits) it was stable enough to not warrant. As mentioned above, using an

[2017-03-25 11:54] wcgallego commented on #50
Ok, popped in. Thanks for the note

[2017-03-25 11:54] #50 closed

[2017-03-25 11:55] wcgallego commented on #49
Thanks @genuss, this was one of those darker corners of the code that didn't get as much testing. Appreciate the thorough comment. I'll take a look

[2017-04-19 14:25] mamciek opened #51 "does not work with gearman 1.1.15 GEARMAN_UNKNOWN_STATE"
When installed with libgearman 1.1.15 then invoking GearmanClient::doBackground ends with GEARMAN_UNKNOWN_STATE error

[2017-05-29 21:31] wcgallego commented on #49
sorry for 3+ week delay in this @genuss, life gets in the way. Just tested it out on my instance - able to replicate the seg fault before and confirmed the fix is good. Much appreciated!

Whoops, forgot to mention - the fix from @muzki, pull request #52

[2017-05-29 21:33] #49 closed

[2017-05-30 09:11] genuss commented on #49
@wcgallego and @muzki thanks you guys! That's very nice to see the issue fixed.
Will try on my installation asap.

[2017-06-27 07:44] RossiRun opened #53 "php7.0.17 gearman extension memory leak"
i got a memory leak while i use php7.0.17 debug version , gearman 1.0.2 and valgrind to check memory leak.
PHP code is :
$client = new GearmanClient();
$gearmanIp = "10.222.332.123";
$gearmanPort = 4730;
$client->addServer($gearmanIp, $gearmanPort);
$parameter = 'test';
$gearman_result = $client->doNormal("getList", $parameter);
$result = json_decode($gearman_result, true);
var_dump($result);

deb

[2017-06-27 08:29] RossiRun commented on #53
here is  the example case when run with php7.0.17 debug version:
valgrind --leak-check=full  /debug_php7/bin/php reverse_client.php
==15551== Memcheck, a memory error detector
==15551== Copyright (C) 2002-2015, and GNU GPL'd, by Julian Seward et al.
==15551== Using Valgrind-3.12.0 and LibVEX; rerun with -h for copyright info
==15551== Command: /debug_php7/bin/php reverse_client.php
==15551==
Start

[2017-07-17 11:12] sandacn commented on #53
try to upgrade 2.0.3 version and reproduce.
Gearman 1.0.2 means gearman server 1.0.2 or gearman-php-ext 1.0.2 ?

[2017-07-17 11:18] tuupola commented on #33
Any progress with this? PECL still has 1.1.2 from year 2013.

[2017-08-04 21:30] wcgallego commented on #51
hey @mamciek, apologies this hasn't gotten more attention. Hoping to clean up a few of these over the next few weeks. Have you tried this with a newer version of libgearman in the mean time?

[2017-08-04 22:01] wcgallego commented on #53
Thanks for chiming in @sandacn, totally in agreement.

@RossiRun, I have in the README testing against libgearman v1.1.8 or higher for the 2.0.* and above version of this extension. If this is still an issue with this version, please reopen and I can investigate!

[2017-08-04 22:01] #53 closed

[2017-08-19 18:57] wcgallego commented on #51
I'm going to close this issue up. I believe it to be an issue with the core library and not the pecl extension. As 1.1.15 isn't the latest and greatest, I'd suggest upgrading the core first and seeing if you can still replicate the issue.

If you think this is in error or it warrants more investigation, please reopen and we can discuss! Thanks

[2017-08-19 18:57] #51 closed

[2017-11-02 16:31] tsmgeek opened #55 "Using clearCallbacks() causes Segfault"
PHP 7.0.24
Libgearman 1.1.8
Build from source.

This is sample code that shows how I setCompleteCallback then after its finished clearCallbacks().
Doing that clearCallbacks sets the system up to segfault.

[code]

[2017-11-17 10:16] kylephp commented on #40
@wcgallego Thanks for your reply. I have been debugging for a long time. Now I can reproduce it using the repository's example:
https://github.com/wcgallego/pecl-gearman/blob/master/examples/reverse_worker.php#L23

Just change that line to `$gmworker->addFunction("reverse", "reverse_fn", new stdClass());`

On the client code, I have a loop to make it call the worker continuously:

$gmc= new Gearma

[2017-11-17 10:19] kylephp commented on #40
I can't see any option to re-open the issue on my side

[2017-11-19 15:56] wcgallego commented on #55
thanks for writing in @tsmgeek! I'll do my best to hop into this and take a look as soon as I'm able

[2017-11-19 15:57] wcgallego commented on #40
Thanks Kyle! Sorry this has been plaguing you, but super appreciate the replicable work flow.

I'm a little tied up at the moment, but I'll jump into this as soon as I'm able. Hang tight!

[2017-11-20 03:09] kylephp commented on #40
Thanks @wcgallego!
Btw, I have just looked through the closed issues and maybe this has been fixed in master branch but not released yet?
https://github.com/wcgallego/pecl-gearman/issues/49
I will try to compile the extension from master branch and test it again

[2017-11-20 04:27] kylephp commented on #40
Tested with new compiled extension and it works!
Maybe you need to grab a new bug fix release @wcgallego

[2018-01-18 11:57] wcgallego commented on #55
Hey @tsmgeek, thanks again for submitting this. Finally had a chance to look at it a bit more in the new year. Trying to recreate from your code, but parts of it look like they're cut and paste from a larger repo with those dependencies missing, so I'm trying to shrink it down to something I can reproduce as a stand alone. Still working on that.

In the mean time, if you're still able to replicate

[2018-01-22 18:09] wcgallego commented on #33
Hey all,

sorry this has taken an absurd amount of time. I have creds for php.net and the repo is set up. I unfortunately don't have the karma to push yet though!

Here's to me earning it. I'll start cleaning up some Gearman docs to see if I can gain it the hard way 😝

[2018-02-25 15:09] wcgallego commented on #55
hey @tsmgeek, still haven't managed to replicate this bug. To confirm:
1) what version of gearmand are you running?
2) what version of pecl-gearman?
3) Do you have a core dump?
4) Do you have standalone PHP replicating this outside of a framework?

That will help move this along much faster. Thanks!

[2018-03-25 14:29] xrn opened #56 "MySQL queue does not work"
Hi,
One the beginning I would like to say - great job Will!

I used gearman around one year and I started to test new options. Today I tried to use MySQL queue type. I ran my job server (version 1.1.18) using this command:

When I use command from a terminal

Everything looks fine and in my table, I can see

But task sent from PHP client (current repo version - but when I use echo gearman_version(

[2018-03-25 14:35] xrn opened #57 "Support for epoch list"
Gearman job server has an option to send epoch task - this task will be scheduled.

Like - https://github.com/gearman/gearmand/blob/4761b20023c0adf9c4704fc81bce6c70446857b6/docs/source/libgearman/gearman_task_attr_t.rst

Here someone added support for this type of jobs / tasks in php lib version 1.1.12 - https://bugs.php.net/bug.php?id=64120

This issue is connected with my second one - https://gi

[2018-03-31 04:23] wcgallego commented on #56
Good catch, on both the version and the task. I don't use tasks as often in my day to day, so thanks for picking these up. Seems like I have two bugs to fix here :) Will take a look

[2018-03-31 04:27] wcgallego commented on #56
P.S. - can you double check what version of gearman lib you're using before I dig too deep?

I've got 1.1.12 here. Have you tried upgrading that to seem if it resolves the underlying issues?

[~]> php -r 'echo gearman_version(). PHP_EOL;'
1.1.12

[2018-03-31 05:34] wcgallego commented on #56
Also, if you could include explicitly the code snippet in PHP you're using, that would helpful.

As an aside (I'm trying to remember all my gearman internals specifics, it's been a while), gearman_version() prints out the libgearman version (the underlying lib), not what pecl version it is. For that, you can use phpinfo() and look for "extension version" in the gearman section

[2018-04-04 13:58] xrn commented on #56
1. You have 100%  right - I update all from the beginning and now after

2. Code is 100% simple

Client:
[code]

Worker:
[code]

[2018-04-04 14:03] xrn commented on #56
Ok this is my bad. It is working! But in MySQL i can only find Background tasks (maybe quque is working in this way, but this is strage)

This command have -b flag, when i used

[code]
I get
[code]

[2018-04-15 02:44] bmeynell opened #58 "CAN_DO_TIMEOUT's Timeout Locked at Minimum of 1000 Seconds (16 minutes, 40 seconds)"
Tested using the latest stable PECL (2.0.3) and `libgearman` (1.1.18) releases.

@wcgallego, please have a look when you are able, especially how the PECL is affected, and/or if it's a downstream issue and should be punted first to the https://github.com/gearman/gearmand project. Thanks!

Analysis, detailed steps to reproduce, sample use case, etc., and a final conclusion (1-2 bugs) are proven bel

[2018-04-15 03:00] bmeynell commented on #58
For fun (and education), I'm including the following hypothetical, yet potentially real-world use case, that would be adversely affected by the bug(s) described above. I chose this particular case because its requirements are generalized enough to be applicable to numerous industries, applications, etc.

_**Project: Real Time Cryptocurrency Exchanges Price Consumption.**_

Hi! I am building a serv

[2018-04-15 12:46] wcgallego commented on #58
Thanks for the comments and the very thorough info behind it! Taking a look

[2018-04-16 16:55] bmeynell commented on #58
@wcgallego - Much appreciated, thanks!

Also found a [bug report](https://bugs.launchpad.net/gearmand/+bug/1458729) on Launchpad which looks to be directly related. Please have a look.

[2018-04-18 08:47] narrowway commented on #43
Is ssl working nowadays? :)

[2018-04-18 14:32] bmeynell commented on #43
@narrowway - A quick look at the [gearmand](https://github.com/gearman/gearmand) indicates to me, "most likely not" due to the large number of open issues related to SSL:
- https://github.com/gearman/gearmand/issues/94
- https://github.com/gearman/gearmand/issues/63
- https://github.com/gearman/gearmand/issues/56
- https://github.com/gearman/gearmand/issues/29
- https://github.com/gearman/gearmand

[2018-04-18 15:55] esabol commented on #43
Gearmand SSL works just great, thank you very much. Most of those referenced issues are related to testing or likely due to multiple bugs in the SSL implementation in the client code. Haven't seen any errors in over a year.

The libgearman patch to enable SSL in the PHP library still hasn't been committed to the gearmand repo, unfortunately, but it works just fine. Sorry, it's still on my to-do li

[2018-04-19 14:37] bmeynell commented on #58
@wcgallego - Please let me know if/when you are able to definitively concur this issue is **not** related to the PECL code but libgearman itself. Once that happens I'll create an issue in the gearmand repo, post an RFC to the mailing list, and ultimately submit a PR to the gearmand repo once there's consensus in the community as to how the functionality _should_ work. Thnx!

[2018-04-19 16:55] keyurdg commented on #58
@bmeynell that's great analysis! The bug is indeed in gearmand: https://github.com/gearman/gearmand/blob/master/libgearman-server/connection.cc#L690-L693

[2018-05-01 14:41] tsmgeek commented on #55
@wcgallego
1. Not sure any longer sorry. I think it was 5.6.30 but now i am on 5.6.35 and it does not seem to segfault which is good as without I was getting memory leaks with long running daemons as the callbacks were being set but not released unless clearCallbacks was executed.
2. currently 1.1.2
3. No
4. No

Sorry not much help, time has moved on and we implemented work around. I will re-insta

[2018-05-01 14:45] wcgallego commented on #55
Just to clarify - your PHP is 5.6.35? only php 7 is supported now.

Gearmand doesn't have any versions above 1.x

[2018-05-01 16:28] tsmgeek commented on #55
You asked about pecl-gearman.
https://pecl.php.net/package/gearman - version 1.1.2

Ah yes I just realised I posted the original issue against PHP7, right I will go back and test it again on my PHP7 enviroment, we are now PHP7.1 not PHP7.0, let me check.

[2018-05-01 17:10] tsmgeek commented on #55
Ok found the problem again.
PHP 7.2.5
gearman   2.0.3

Below gives you an example of the issue. I think ive traced it back to the use of references into the callback function.
This works under PHP5.6.35 and PECL 1.1.2 but it has a major memory leak unless clearCallbacks() is called, under PHP7 if I call that it will segfault the next time you try and setCompleteCallback() but even when clearCallba

[2018-05-01 17:14] wcgallego commented on #55
Can you give me the concrete definition of the function WN_GearmanClient::getInstance()?

[2018-05-01 17:22] tsmgeek commented on #55
This is a wrapper that just handles the setup of the client and some internal remapping functions.
It does not hook the callback functions.

[code]

[2018-05-07 07:20] lkebin opened #59 "gearman_client_set_server_option calling failed"
Hi @wcgallego,

I'm using wcgallego/pecl-gearman extension for my php project.

I have two gearman job servers A and B. If one of job servers was down but the other was up, GearmanClient::doBackground will be failed.

I got exception: Failed to set exception option from wcgallego/pecl-gearman extension.

Check wcgallego/pecl-gearman source code
https://github.com/wcgallego/pecl-gearman/blob/7480e9

[2018-05-07 10:29] wcgallego commented on #59
Hey @lkebin that's the intended functionality yes, or at least that's the functionality that's existed for a while. I would love to see it fail over to alternate servers, but that's not the case and is part of the libgearman class, not the pecl wrapper

[2018-05-10 23:08] jeff-minard-ck commented on #59
So, I'd like to bring this up for re-opening because it bit me as well.

Here's what I think is going on. In older versions of the pecl extension, the `addServer` method would call `gearman_client_set_server_option`. This is still the case - this code has changed almost none.

However, the code for `gearman_client_set_server_option` from `libgearman` is *very* different in 1.1.8 vs. newer versions

[2018-05-10 23:30] wcgallego commented on #59
Hey @jeff-minard-ck,

Reopened here. I need to re-read this code and the change in libgearman. If I'm understanding you correctly, though, it sounds like the difference lies within the core libgearman code, right?

Pulll request #60 from @lkebin removes the exception throwing, but I'd like to look at the edge cases here first. In my head, it makes more sense to keep this closer to the underlying l

[2018-05-10 23:39] wcgallego commented on #59
Likewise, it looks like there's been work on it in the core lib:

https://github.com/gearman/gearmand/issues/160#issuecomment-386959439

@jeff-minard-ck, give that change a look at and see if it solves your issues. Will keep this open in the mean time

[2018-05-10 23:48] wcgallego commented on #58
Hey @bmeynell - I think this needs to be an issue in the gearmand project. Unless there are strenuous exceptions, I'm going to close this ticket and suggest it be opened within libgearman. I think removing the lines highlighted in the above comment from keyur should do it, which is a pretty clean pull request. Since that bug report is from 2015, I'm guessing it has fallen off their radar, so submi

[2018-05-10 23:48] #58 closed

[2018-05-11 15:33] jeff-minard-ck commented on #59
Oh, I fully agree the proposed "fix" of just removing this isn't actually what you want to do. Removing that C call makes the callbacks for exception handling in php never trigger, since the option wouldn't ever get set on the server-side. *Personally*, I'm not using exception callback handling, so [removing the calls](https://github.com/jeff-minard-ck/pecl-gearman/commit/d923652a3cabd176e6b7b3323

[2018-05-11 19:44] bmeynell commented on #58
@wcgallego - Agreed. I'll submit the bug report to the [gearmand](https://github.com/gearman/gearmand) project, and possibly the mailing list. Note that I did comment out those [three lines of code](https://github.com/gearman/gearmand/blob/master/libgearman-server/connection.cc#L690-L693) in `libgearman-server` ~6 months ago but ran into issues. IIRC it seemed as if gearmand did not know whether t

[2018-05-11 20:01] wcgallego commented on #58
It's currently a long

https://github.com/wcgallego/pecl-gearman/blob/master/php_gearman_worker.c#L369

I think regardless of whether it's seconds or an int, we'd want to keep it as an int (a long, really) here. I'd rather see an int of ms than a float/double/string passed in

[2018-05-11 20:06] bmeynell commented on #59
I've also encountered this behavior and has been on my list to investigate. Simply put, my experience has been that if a `gearmand` instance is _not_ running, but _is_ included in `addServers()`, the `Failed to set exception option` Exception is thrown in the Worker(s). I agree with @jeff-minard-ck's sentiments:

https://github.com/wcgallego/pecl-gearman/issues/59#issuecomment-388212211:

https://

[2018-05-11 20:12] bmeynell commented on #58
Indeed, as would I!

I'm thinking about live implementations already inputting ints-as-seconds (e.g., 5 = 5s) and how to gracefully handle that. _"An int of ms ... passed in"_ would change the behavior by an order of magnitude (5 = 5ms). Unless I'm missing something?

[2018-05-14 16:45] wcgallego commented on #59
to keep the convo going here, @jeff-minard-ck had a solid investigative thread here with one of the maintainers of gearmand: https://github.com/gearman/gearmand/issues/160#issuecomment-388878374

tl;dr - the change has been there for a couple years, but with pecl-gearman lagging behind in updates until I picked it up with PHP 7, it diverged. Other languages have picked this up and it seems like th

[2018-05-14 21:45] wcgallego commented on #59
Reading/Thinking through this some more:

Quick sum up: Looks like when it was originally created, addServer/addServers didn't create a connection to the server as we've noted in the comments above. So it didn't cost much to include it there and it frees up the PHP code from having to make another reference to this upon connection. That's no longer the case with @keyurdg's fix (https://bugs.launch

[2018-05-14 22:10] jeff-minard-ck commented on #59
Option 3 -- but, to be clear, the name should probably be `setupExceptionHandler` making the signature something more like:

[code]

_(Default true maintains backwards compat, but incurs the connection.)_ Adding a client/worker option for `$gm->turnOnExceptionHandlers()` from option 2 for full coverage would probably cover all the bases.

With that setup I can have my PHP code `addServer` all day

[2018-05-14 23:39] wcgallego commented on #59
Good food for thought. Thanks for the input. Code reviews ftw.

BTW, I'm curious as to your set up, now that you mention 200 daemons in use (consider me nerd sniped). We're doing hundreds of millions of jobs at Etsy (of various complexity and networking) across a couple dozen worker nodes and 4 GearmanD instances (2 pairs doing MySQL persistence with replication). If you're interested in sharing a

[2018-05-15 15:06] jeff-minard-ck commented on #59
On the patch:

[code]

I'm *very* new to C/PHPEXT, but wouldn't each of these need another `ZEND_ARG_INFO(0, ignore_exception)` like line?

[2018-05-31 17:28] wcgallego commented on #59
Hey @jeff-minard-ck, you're totally right. That's what I get for being slapping a diff together quickly :)

Sorry for radio silence in moving on this - over 2 weeks! I had a tweak on my local VM but writing up tests to compliment it and I was scratching my head on expected functionality behind it. I'll try to put my thoughts down here in this thread for more input when I can.

[2018-05-31 17:33] jeff-minard-ck commented on #59
No worries; I'm compiling off a fork that's simply removed the `gearman_client_set_server_option` in the `addServer` for now. Since my use cases doesn't cover foreground jobs _nor_ handling exceptions in those, I'm safe to skip the option setting.

[2018-06-13 09:39] cdekok commented on #33
Any chance of this still happening? It would be nice if it's available on PECL

[2018-06-22 01:50] wcgallego commented on #59
Hey All,

Another update. Was working through tests and chewing on a problem. It looks like gearman_client_add_server(s) also connects to the remote server. This is handled as a warning as is, which can be suppressed, but still violates the rule that no conn is made in the addServer call.

This doesn't immediately exclude the functionality mentioned above, and I do have that working with tests. Wa

[2018-06-26 23:47] wcgallego commented on #59
Ok! I'm on a real journey with this bug :)

The previous comment was because I was using a dummy host that wouldn't resolve to anything. addServer/addServers does work to try to resolve the host but not explicitly connect to the GearmanD server. Instead, I'm using localhost (a valid hostname) and an invalid port (4731) to test. It's not perfect, but it'll do for now to get this moving!

I'll be pu

[2018-07-05 18:07] lockland opened #61 "GearmanClient::addServer and GearmanClient::addServers aren't assuming setupExceptionHandler as optional"
The last parameter (setupExceptionHandler) added to GearmanClient::addServer and GearmanClient::addServers has been required instead of to be optional as described on the documentation. When these methods are invoked without set the parameter the message below is shown.

`Method GearmanClient::addServers() invoked with 1 parameter, 2 required`

[2018-07-10 19:20] #61 closed

[2018-07-11 13:13] wcgallego commented on #59
Going to close this up. If there are still standing issues here I haven't covered, please reopen and we can look into it again! Thanks again everyone

[2018-07-11 13:13] #59 closed

[2018-07-11 13:14] fishfacemcgee commented on #61
@lockland Out of curiosity, did you find a solution to this or did you close it due to inactivity?

[2018-07-11 13:37] fishfacemcgee commented on #59
@wcgallego It doesn't seem that the new arguments are actually optional, per #61. Can you verify?

[2018-07-11 13:48] wcgallego commented on #59
Hey @fishfacemcgee, per your question in #61, it wasn't closed to inactivity (that's way too short a turn around!).

It is indeed optional. It's behind the pipe, which is how in pecl extensions you define optional params (the "b" here: https://github.com/wcgallego/pecl-gearman/blob/master/php_gearman_client.c#L305)

I also have a test in which I only pass in one param.
https://github.com/wcgallego

[2018-07-11 13:50] fishfacemcgee commented on #59
@wcgallego The issue I'm seeing is with `addServer`, as opposed to `addServers`. Let me double-check the issue and I'll get back to you with a proof of concept.

[2018-07-11 13:52] wcgallego commented on #59
@fishfacemcgee GearmanClient::addServer() is working ok for me too:

[code]

Note: GearmanClient::addServer takes 3 params, 2 of which are optional - the string for the hostname (required), a port (optional) and the flag

[2018-07-11 13:52] fishfacemcgee commented on #59
Ok, the issue appears to be related to the Dependency Injection library, as direct calls to `GearmanClient::addServer` appear to work just fine under 2.0.4.

[2018-07-11 13:53] leunggamciu opened #62 "register method in GearmanWorker seems not working as expected"
[code]

[code]

The worker crash with following message after receiving a job:

Not sure if I am using it in this way correctly.

PHP version: 7.2.7
extension version: 2.0.4
libgearman version: 1.0.6

[2018-07-11 13:54] wcgallego commented on #59
Great! If the up to date version is working, going to keep this closed. Thanks for confirmation

[2018-07-11 13:59] fishfacemcgee commented on #59
@wcgallego I'm not super familiar with the internals of the DI library, but I noticed in [the changeset for the Gearman Extension](https://github.com/wcgallego/pecl-gearman/commit/d948be1a937b1ebbfd5ad5ab84214398ec4ad777#diff-34dd01eca8e698842564e8a413addf9aR258) that a comment wasn't added for the new argument. I'm also not familiar with PHP Extension internals, but is that comment necessary for

[2018-07-11 15:49] wcgallego commented on #59
hey @fishfacemcgee, I'll keep looking into it, but the fastest way to resolve this is if you can show me an example of code that's failing with clear indications of the problem.

[2018-07-11 15:53] wcgallego commented on #62
hey @leunggamciu, I would highly suggest upgrading to a newer version of libgearman. Work has been done against v1.1.8 for the 2.0.* branch of the pecl

https://github.com/wcgallego/pecl-gearman/blob/master/README#L14

If you upgrade and are still having difficulties, please reopen and we can address from there. Thanks!

[2018-07-11 16:43] wcgallego commented on #59
OK, Got something. Required # of params was indeed wrong:

[code]

In 2.0.4, the required # of params is wrong. It's defined in php_gearman.c here:
https://github.com/wcgallego/pecl-gearman/blob/master/php_gearman.c#L352-L374

I've got it fixed, will push out shortly

[2018-07-11 16:53] wcgallego commented on #59
@fishfacemcgee please try either the master branch or tag gearman-2.0.5, I *think* that should solve your problem. If not, code sample demonstrating! That would be immensely helpful. Thanks

[2018-07-11 17:12] fishfacemcgee commented on #59
@wcgallego I built the extension locally. It's still failing, but there's a new error that makes it especially clear the issue is with the Dependency Injection library I'm using. In case you're curious, here's the error:

[code]

That error is new as of 2.0.5 as it was previously having issues fully parsing `enableExceptionHandler`, so I think 2.0.5 is generally a fix/improvement over the 2.0.4 be

[2018-07-12 00:52] lockland commented on #61
@fishfacemcgee I was getting this errors with a phpunit mock on the unit tests, so after got the master branch, compiled it and ran the project tests I could see everything is OK and the mentioned problem could be on phpunit and not on pecl-gearman, however I didn't run my tests with that compiled version.
The interesting thing is that I wasn't getting this error before have the php updated to ver

[2018-07-12 03:27] leunggamciu commented on #62
thanks for the reply @wcgallego,  the problem still exists after upgrading libgearman to 1.1.18

[2018-07-12 03:55] wcgallego commented on #62
Hey @leunggamciu, the problem isn't gearman, it's the php code you're supplying. This is what you want for the worker:

[code]

[2018-07-12 03:55] #62 closed

[2018-07-12 04:32] wcgallego commented on #59
What Dependency Injection Lib are you using? I'm trying to see if I can replicate it using ReflectionMethod on the class and getType from the params of that reflection, but it's not returning the type for any of the params, let alone the last one. That said, I'm also not able to do that with standard lib PHP functions either.

Otherwise, not sure how else to approach this, though I'm glad we've fi

[2018-07-12 07:44] leunggamciu commented on #62
Hello @wcgallego, I think I misunderstand the `register` method. I found that like many other examples
on the website, your code may still works after removing `$worker->register('foo')`. So i'm wonder if you could explain it in more detail.

[2018-07-12 12:06] fishfacemcgee commented on #59
@wcgallego I'm using [php-di](https://github.com/PHP-DI/PHP-DI). To be clear, I don't think there's anything left to fix on the Gearman Extension side of things. We were auto-wiring the GearmanClient class, and PHP-DI has [an issue logged](https://github.com/PHP-DI/PHP-DI/issues/470) where it doesn't truly support auto-wiring Internal Classes (which GearmanClient would qualify as). It just didn't

[2018-07-16 14:05] wcgallego commented on #62
Sure. The register method is for listening for specific job names, with the second param being a timeout to listen for jobs (optional). The addFunction method takes for its first param a function name and for its second a callback to execute when that function is received.

http://php.net/manual/en/gearmanworker.register.php
http://php.net/manual/en/gearmanworker.addfunction.php

[2018-08-06 13:13] #56 closed

[2018-08-15 19:41] chrisgoffinet opened #64 "Segfault in PHP when setting fail callbacks"
The PR for #63 fixes a segfault when trying to set a fail callback. It looks like we were duplicating `zval_dtor`. Valgrind was helpful in catching this.

* Tested on PHP 7.2.6

[code]

[2018-08-21 21:21] codayblue commented on #33
Any update on this? The company I am working with is thinking about using this extension. How can I help if there is a way?

[2018-08-30 21:16] djsipe commented on #33
For those looking to use this extension in PHP 7, but unsure about how to install it.  I have this snippet for installing it using the official PHP Docker image:

[code]

[2018-08-31 15:08] wcgallego commented on #64
Pull request merged - thanks again @chrisgoffinet!

[2018-08-31 15:08] #64 closed

[2018-08-31 15:08] wcgallego commented on #55
Hey, just merged in a pull request that may have resolved this. Give it a shot and see if trunk will fix your segfault issues

[2018-09-11 07:38] tsmgeek commented on #55
@wcgallego ive left the company where I was using this unfortunately so will no longer be able to test it, sorry

[2018-09-11 14:51] wcgallego commented on #55
Not a problem.

For the moment, I'm going to call this closed as neither of us can reliably reproduce this anymore and I have a sneaking suspicion the other fix is related.

If you (or anyone else) comes across this and notices it's not fixed, please reopen!

[2018-09-11 14:51] #55 closed

[2018-09-21 05:21] Mararok opened #65 "add new releases to PECL"
Can you send new 2.* version to PECL ?
I'm using php 7.* and now I compiled that ext  in https://github.com/SAREhub/Servitiom/blob/doctrine_experment/api/Dockerfile
It will be wonderful if I can download it from PECL :)

[2018-10-10 21:05] wcgallego commented on #65
Hi @Mararok, you're not wrong to pester me on this. It needs to get done, full stop.

There's a ticket already open for this work, #33. So I'll be closing this one. Sorry for delay

[2018-10-10 21:05] #65 closed

[2019-02-01 21:30] andreiafi opened #66 "function addServer depends on how gearmand was started"
For some configurations running `make test` fails from test 012.phpt onwards. The problem is with how the **gearmand** server was started.
Success or failure for `addServer()` function depends on this.
If it was started as `gearmand -d -L localhost -p 4730`, then calls `addServer()`, `addServer('127.0.0.1')` and `addServer('localhost')` will work.
However, if it was started as `gearmand -d -L 127.

[2019-02-26 15:24] borro opened #67 "Signal dispathing after end GearmanWorker::wait"
1. Set [pcntl_async_signals](http://php.net/manual/en/function.pcntl-async-signals.php) in true
2. Register handler for [pcntl_signal](http://php.net/manual/en/function.pcntl-signal.php)
3. Start wait for Gearamn work ([GearmanWorker::wait](http://php.net/manual/ru/gearmanworker.wait.php))
4. Send signal when GearmanWorker::wait work.

Result:
Signal handler call after end work GearmanWorker::wait

[2019-02-28 10:13] borro commented on #67
I found out that the problem is in the libgearman. https://github.com/gearman/gearmand/issues/230

[2019-02-28 10:13] #67 closed

[2019-05-13 15:45] dl-lewis opened #68 "Uncaught Error: Class 'GearmanClient' not found"
When trying to set up a test on a freshly installed pecl-gearman, it appears the worker works, but the client cannot be found.

We're using PHP 7 and the latest Gearman server:
libgearman version => 1.1.18

The .so is referenced in both the cli and apache ini files.

[2019-05-13 18:00] marcguyer commented on #68
This sounds like a problem with your environment. Are you using CLI or Apache or both? What does `php -i | grep gearman` say? What about `phpinfo()` output gearman section?

[2019-05-13 18:36] dl-lewis commented on #68
This was my fault, actually, thanks for responding. There was an .ini I didn't know about lurking around.

[2019-05-13 18:36] #68 closed

[2019-05-29 10:34] DavidWang666 opened #69 "Support php7?"

[2019-05-31 13:03] carpii commented on #69
The README.md mentions php 7 is being tested with version 2.x+, but I believe that's out of date
There's no 2.x branch so I think it has now been merged into master

Just compile it as normal..

[code]

[2019-10-08 13:03] Trainmaster opened #70 "Segmentation fault (2.0.6 + PHP 7.4.0RC3)"
PHP 7.4.0RC3 was installed using `ppa:ondrej/php`:

[code]

The gearman extension was built manually by following the steps in the `README` file:

[code]

The segmentation fault can be reproduced by running the examples:

[code]

[code]

[2019-11-07 11:13] alglyzin opened #71 "How do I return a background job to the queue if it fails?"
If there is a task execution error, I want the task not to be removed from the queue. And started again.

[2019-11-15 10:54] GeraudBourdin commented on #43
Hi All,

Any updates on the SSL patch for the php client ?
Could it be possible to test the ssl patch ?

Thanks
Best regards.

[2019-11-16 15:53] esabol commented on #43
Nothing has changed since my previous post. The original patch for libgearman and a pointer to an old, forked gearmand repo (alas, unmerged) with the patch applied can be found here:

https://github.com/gearman/gearmand/issues/63

Knowing someone is interested should result in me doing _something_ about the PHP patch soon. Give me a couple weeks and then remind me again.

[2019-11-18 09:27] GeraudBourdin commented on #43
Hi esabol,

Thanks for the link.
I ll try the patch.
It would be great to see the ssl connection as a standard part of this PECL. :)
Thanks a lot for all your work on this.

Best regards

[2019-11-19 22:02] esabol commented on #43
@GeraudBourdin:

I just opened PR #72 with my SSL changes. These changes are based on chjgcn@gmail.com's patch. I heavily modified the code to work with PHP 7.x.

If you use the libgearman.so from the old gearmand fork, I think it doesn't support exception handling the way the current version does. Or at least I encountered various errors with the exception handling code when compiling the PECL wi

[2019-11-28 16:59] JanMikes opened #73 "Segmentation fault in client, PHP 7.4.0, Gearman 2.0.6"
Hi, we are encountering Segmentation fault with client:

[code]

This php code will fail on `runTasks()` after receiving response:
[code]

Or when no tasks added, it will cause segfault after calling `runTasks()` as well
[code]

[2019-11-29 08:04] Trainmaster commented on #73
@JanMikes Same here, see also https://github.com/wcgallego/pecl-gearman/issues/70

[2019-11-29 08:29] JanMikes commented on #73
Yeah, i opened new issue as in #70 it is reported for the worker (and we encounter same issue), but this one is for client.

As it is possible for us to run worker with php 7.3, client is part of our application and we would love to upgrade to 7.4 but until we solve this we are unable to.

I already have been looking for way how to debug it and if i am able to fix it in C and re-compile extension,

[2019-12-27 16:31] ibcs01 commented on #73
Same issue here.

Happens always on 7.4 when running:

`$client = new GearmanClient();`

Here some debug info:

OS:
`#1 SMP Debian 4.9.189-3+deb9u2 (2019-11-11) x86_64 GNU/Linux`

PHP version:
[code]

In apache log:
`[Fri Dec 27 17:31:04.733752 2019] [core:notice] [pid 24081] AH00052: child pid 25546 exit signal Segmentation fault (11)`

Valgrind output:
[code]

Installed gearman pecl extension as

[2020-01-07 07:58] piotrooo commented on #73
Any news?

[2020-01-10 09:36] deman714 commented on #73
Same issue with PHP 7.4.1.

[2020-01-19 08:25] vdmitrydev commented on #73
Same issue

[2020-01-22 14:20] #69 closed

[2020-02-05 11:20] #70 closed

[2020-02-05 11:21] #73 closed

[2020-02-05 11:21] #71 closed

[2020-02-06 12:41] prupert opened #75 "Release a new version from latest master with PHP 7.4 fixes"
As you are aware of the latest released version (2.0.6, 05-09-2019) does not work with PHP 7.4. I know this project is not under active development, but it would be great if you could release a new version based on the current master with the PHP 7.4 fixes. This enables package maintainers such as Remi to follow up and build and ship packages of the pecl-gearman extension for PHP 7.4.

[2020-02-06 17:01] vojta commented on #73
I'd just like to say big thanks to @oleg-st and @wcgallego for this bug fix. Thank you guys!

[2020-02-06 21:14] wcgallego commented on #75
This feels like a good time to do a cut over.

Rasmus has been kind enough to set up https://github.com/php/pecl-networking-gearman for future pecl-gearman work. Redirecting this ticket there is a good start and is a forcing function for others who are making the switch in other places in their codebase.

If you'd be so kind to make the ask there, I'd appreciate it and I think you all will get bet

[2020-02-06 21:14] #75 closed

[2020-02-06 23:37] wcgallego commented on #33
Nearly 4 years later (oof) it's finally living in a reasonable location

https://github.com/php/pecl-networking-gearman

Sorry for the troubles everyone! Better care taking awaits in its new home

[2020-02-06 23:37] #33 closed

[2020-02-07 03:18] keyurdg commented on #75
Thank you for taking care of gearman all these years @wcgallego!

[2020-02-07 03:31] tuupola commented on #75
Awesome news, I still use gearman with couple of projects. Also thanks for the maintenance in the past years @wcgallego!

[2020-02-11 04:20] esabol commented on #43
For anyone who is interested in making SSL connections to gearmand from PHP, gearmand 1.1.19 was just released _today_ with support for the `setSSL()` API in `libgearman.so`. So that should make things a lot easier. And, as linked above, PR #72 has the patch which adds support for this `setSSL()` API to this implementation of the Gearman PHP extension.

If someone takes over development of this Ge

[2020-02-11 04:29] esabol commented on #57
I know this is almost two years later, but it should be noted that gearmand does not really support this feature, AFAIK. Yes, it's in the PROTOCOL document, but it was never actually implemented properly. Refer to https://github.com/gearman/gearmand/issues/101 for details. PRs welcome. If you use the Perl Gearman server, I think it supports this feature? Not sure, just going by what someone said..

[2020-03-21 13:18] C4RoCKeT commented on #73
I'm still getting a segmentation fault on PHP 7.4.3. No idea if it has the same cause.

[2020-03-21 14:48] wcgallego commented on #73
Hey @C4RoCKeT, this repo is no longer under active development. See the redirect in the README

[2020-03-21 22:15] C4RoCKeT commented on #73
I'm aware. Figured it couldn't hurt replying on this closed issue anyway, since I landed on this issue via a google search.
Will try the other repo. Thnx!

[2020-04-01 16:14] relipse opened #76 "How do I get it working Wamp for PHP 7.1"
How do I get the binary for Windows dll for this https://github.com/php/pecl-networking-gearman

[2020-05-23 06:10] ziyaindia commented on #5
**My gearman client code is as below:**

`class FNSGearman {
    public $gmclient;
    public $taskCount = 0;

    public static $results = array();
    public static function reset(){
        GearmanResults::$results = array();
    }

    public static function completeCallback($task) {
        $unique = $task->unique();
        if ($unique != null) {
            FNSGearman::$results[$unique] = $

[2020-05-23 06:13] ziyaindia opened #77 "504 Gateway Time-out on calling gearman runTasks"
**My gearman client code is as below:**

`class FNSGearman {
public $gmclient;
public $taskCount = 0;

public static $results = array();
public static function reset(){
    GearmanResults::$results = array();
}

public static function completeCallback($task) {
    $unique = $task->unique();
    if ($unique != null) {
        FNSGearman::$results[$unique] = $task->data();
    }else {
        array_

[2020-06-20 16:12] ahsankhatri commented on #73
Or if someone doesn't want to compile it from source, he/she can install it via `ppa:ondrej/php` repository to get the latest build, as I was having problem in focal fossa release for PHP 7.4

I did
[code]

[2021-07-18 22:06] microlancer commented on #59
Is there any plan to also support this for `addServer()` and `addServers()` for the `\GearmanWorker` class as well? I was able to migrate my code to use the 3rd parameter for `\GearmanClient` and avoided the `GearmanException: Failed to set exception option` for that case.

However, for `\GearmanWorker` I'm still getting an error.

[code]
And trying to add the 3rd parameter (set to false), I am ge

[2021-07-18 22:07] wcgallego commented on #59
Hi Tim, this thread is closed and the project has been shifted to official PHP channels. Please see the top of the README